@import '../src/styles/definitions';
@import '@primer/css/index.scss';

html {
    height: 100%;
}

body {
    background-color: $brand-contrast-color;
    background-image: url(/lode/background.svg), linear-gradient(#d4ecff, $brand-contrast-color 400px);
    background-image: url(/lode/background.svg), linear-gradient(darken($brand-contrast-color, 5.5%), $brand-contrast-color 400px);
    background-repeat: repeat-x;
    background-position: center -20px, 0 0, 0 0;
    color: $brand-contrast-text-color;
    height: 100%;
    overflow-x: hidden;

    a {
        color: $brand-color;

        &.router-link-exact-active {
            color: $brand-contrast-text-color;

            &:hover {
                cursor: default;
                text-decoration: none;
            }
        }
    }

    hr,
    .rule {
        border-color: $blue-200;
    }

    .btn-primary {
        background-color: $green-500;

        &:hover {
            background-color: darken($green-500, 2%);
        }
    }

    .btn-large {
        padding: .60em 1.5em;
    }

    input[type="text"],
    input[type="email"] {

        &::placeholder {
            opacity: .6;
        }
    }
}

@import 'layouts';
@import 'release-notes';
@import 'overview';
@import 'legal-etc';
@import 'cookies';
@import 'vuepress';
@import 'mailchimp';
