.simple {

    &.container {
        max-width: 960px;
        padding: 0 16px;
        width: auto;

        @media (min-width: 1280px) {
            max-width: 1280px;
        }

        .logo {

            img {
                height: 140px;
                width: 140px;
            }
        }

        .legal &,
        .release-notes & {
            max-width: 800px;
        }
    }
}
