.mailing-list {
    background-color: darken($brand-contrast-color, 3%);
    border: 1px solid $blue-300;
    border-radius: 6px;
    box-shadow: inset 0 0 0 8px transparentize($blue-300, .85);
    margin: 30px auto;
    overflow: hidden;
    padding: 20px 20px 40px;
    position: relative;
    text-align: center;
    width: 100%;

    #mc_embed_signup {

        input {
            background-color: $blue-000;
            background-position: right 8px center;
            background-repeat: no-repeat;
            border-radius: 3px;
            border: 1px solid $blue-300;
            box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
            color: $brand-contrast-text-color;
            font-size: 16px;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 1rem;
            min-height: 34px;
            min-width: 240px;
            outline: none;
            padding: 4px 10px;
            padding: 6px 8px;
            vertical-align: middle;

            &::placeholder {
                color: $brand-contrast-text-color;
            }

            &:focus {
                border-color: #2188ff;
                outline: none;
                box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075), 0 0 0 0.2em rgba(3, 102, 214, 0.3);
            }

            &[type="checkbox"] {
                margin-bottom: 4px !important;
                min-height: 0 !important;
                min-width: 0 !important;
                margin-right: 5px;

                &:focus {
                    box-shadow: 0 1px 0 2px rgba(3, 102, 214, 0.3);
                }

                & + span {
                    display: inline-block;
                    font-weight: 400;
                    margin-bottom: 10px;
                }
            }
        }

        input.button {
            background-color: $blue-000;
            border: 1px solid $blue-300;
            border-radius: 0.25em;
            box-shadow: none;
            cursor: pointer;
            display: inline-block;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            margin-bottom: 0;
            min-width: 0;
            padding: 10px 24px;
            position: relative;
            user-select: none;
            vertical-align: middle;
            white-space: nowrap;

            &:hover,
            &:focus,
            &:active {
                background-color: $blue-400;
                border-color: $blue-500;
                color: $white;
            }
        }

        .mc-field-group {

            @media (min-width: 768px) {
                margin-right: 10px;
            }

            & > label {
                display: none;
            }
        }

        .content__gdpr {

            & > label,
            & > p {
                display: none;
            }

            fieldset {

                & > label {
                    display: inline;
                }
            }
        }

        .content__gdprLegal {
            display: none;
        }
    }
}
