#app {
    color: $brand-contrast-text-color;
    font-size: 14px;
    line-height: 1.5;
    height: 100%;

    .theme-container {
        height: 100%;
    }

    a.header-anchor {
        visibility: hidden;
    }

    .legal,
    .documentation {

        h2,
        h3,
        h4,
        h5,
        h6 {

            a.header-anchor {
                visibility: visible;
            }
        }
    }

    .navbar {
        background-color: darken($brand-contrast-color, 3%);
        border-color: $blue-300;

        .site-name {
            color: $brand-contrast-text-color;

            &.can-hide {
                display: none;
            }
        }

        .links {
            background-color: darken($brand-contrast-color, 3%);

            .search-box {

                input {
                    border-color: $blue-300;
                }
            }

            a {
                border: 0;
                color: $brand-color;

                &.router-link-active {
                    color: $brand-contrast-text-color;
                }
            }
        }
    }

    .sidebar {
        background-color: $brand-contrast-color;
        border-right: 3px solid transparentize($blue-200, .85);
        outline: 1px solid $blue-200;

        .nav-links {
            border-color: $blue-200;

            a {
                color: $brand-color;

                &.router-link-active {
                    color: $brand-contrast-text-color;
                }
            }
        }

        .sidebar-links {
            padding-left: 0;
            margin-bottom: 0;

            .sidebar-link {
                color: $brand-contrast-text-color;
                font-size: 1em;

                &.active {
                    color: $brand-color;
                    border-left-color: $brand-color;
                }
            }

            & > li {
                margin-top: 0;
            }
        }
    }

    .last-updated {

        .time {
            color: $blue-400;
        }
    }

    .badge {
        height: 22px;
        line-height: 22px;
    }

    .custom-block {
        font-weight: 400;

        .custom-block-title {
            margin-top: 1em;
            margin-bottom: .4em;
        }

        &.tip {
            background-color: $green-100;
            border-color: $green-300;
            color: $brand-contrast-text-color;
        }

        &.warning {
            background-color: $yellow-100;
            border-color: $yellow-500;
            color: $brand-contrast-text-color;

            .custom-block-title {
                color: $brand-contrast-text-color;
            }
        }
    }
}
