.breadcrumb {

    .breadcrumb-item {
        color: $secondary-text;
        margin-left: 0;

        &::after {
            color: lighten($secondary-discreet-text, 20%);
            content: 'â—';
        }
    }

    ol {

        & > :last-child {

            &::after {
                content: '';
            }
        }
    }
}
