@use "sass:color";

.breadcrumbs {
    .breadcrumb-item {
        color: var(--color-fg-subtle);
        margin-left: 0;

        &::after {
            border: 0;
            color: var(--color-fg-subtle);
            opacity: .5;
            content: "â—";
        }
    }

    ol {
        > :last-child {
            &::after {
                content: "";
            }
        }
    }
}
