.btn {

    i {
        line-height: 1.5em;
        vertical-align: middle;
    }

    // Cascade disabled state to .Counter inside buttons
    &:disabled {

        & > .Counter {
            opacity: .5;
        }
    }
}
