button,
.btn {
    -webkit-app-region: no-drag !important;
}

.btn {

    i {
        line-height: 1.5em;
        vertical-align: middle;
    }

    // Cascade disabled state to .Counter inside buttons
    &:disabled {

        & > .Counter {
            opacity: .5;
        }
    }

    // Our primary button is blue, not green
    &.btn-primary {
        @include btn-solid($text-white, lighten($blue-400, 8%), darken($blue-400, 2%));
    }

    &.btn-loading {
        color: transparent;

        &::after {
            animation: rotate .6s infinite linear;
            border-bottom: 1em solid var(--color-blue-200);
            border-left: 1em solid var(--color-blue-400);
            border-radius: 50%;
            border-right: 1em solid var(--color-blue-200);
            border-top: 1em solid var(--color-blue-200);
            content: '';
            display: block;
            font-size: 2px;
            height: 8em;
            left: 0;
            margin: 0 auto calc(-8em - 4px);
            position: relative;
            top: calc(-8em - 4px);
            transform: translateZ(0);
            width: 8em;
        }
    }
}

.btn-link {
    outline: 0;

    &.more-actions {
        border-radius: .25em;
        color: $gray-500;
        height: 100%;
        min-width: 15px;
        padding: 0 6px;

        &:hover,
        &:focus,
        &:active {
            background-color: darken($secondary, 5%);
            outline: 0;
        }
    }
}
