@use "sass:color";

button,
.btn {
    -webkit-app-region: no-drag;
    transition: none;
}

.btn {
    background: var(--color-btn-bg);
    border-color: var(--color-btn-border);
    border-radius: 2px;
    box-shadow: none;
    font-weight: var(--font-weight-semibold);

    &:active {
        box-shadow: none;
    }

    &:disabled {
        > .Counter {
            opacity: .5;
        }
    }

    i,
    .octicon {
        color: currentcolor;
        line-height: 1.4em;
    }

    > .Counter {
        font-variant-numeric: tabular-nums;
        line-height: 16px;
        padding: 0 5px;
        position: relative;
        top: 1px;
    }

    // Our primary button is blue, not green
    &.btn-primary {
        background: $blue-400;
        border-color: $blue-500;
        box-shadow: none;
        color: $white;

        &:hover {
            background: $blue-400;
            border-color: $blue-500;
        }

        &:active {
            background: color.adjust($blue-400, $lightness: -8%);
            border-color: color.adjust($blue-400, $lightness: -12%);
        }

        &:disabled {
            background: color.adjust($blue-400, $alpha: -.5);
            border-color: color.adjust($blue-500, $alpha: -.9);
            color: color.adjust($white, $alpha: -.1);

            > .Counter {
                background: color.adjust($white, $alpha: -.3);
                color: color.adjust($blue-400, $alpha: -.5);
                opacity: 1;
            }
        }

        > .Counter {
            background-color: $white;
            color: $blue-400;
        }
    }

    &.btn-danger {
        color: $red-600;

        &:hover {
            color: $red-600;
        }

        &:disabled {
            color: color.adjust($red-600, $alpha: -.6);
        }
    }
}

.btn-link {
    outline: 0;

    &.more-actions {
        border-radius: 2px !important;
        color: $gray-500;
        height: 100%;
        min-width: 15px;
        padding: 0 6px;

        &:hover {
            box-shadow: none;
        }

        &:active {
            box-shadow: none;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: var(--color-btn-bg);
            outline: 0;
        }
    }
}
