.ansi,
.snippet {
    position: relative;

    button {
        appearance: none;
        background-color: var(--primary-background-color);
        border: 1px solid var(--primary-border-color);
        border-radius: 3px;
        float: right;
        margin-left: 4px;
        opacity: 0;
        outline: none;
        padding-left: 0;
        padding-right: 0;
        position: absolute;
        right: 4px;
        top: 4px;
        transition: opacity 100ms ease-in;
        width: 35px;

        &:nth-of-type(2) {
            right: 42px;
        }

        i {
            color: $gray-500;
        }

        &:hover {
            i {
                color: $gray-600;
            }
        }
    }

    &:hover {
        button {
            opacity: 1;
            transition-delay: 200ms;
        }
    }
}
