.ansi,
.snippet {
    position: relative;

    button {
        -webkit-appearance: none;
        background-color: var(--primary-background-color);
        border-radius: 3px;
        border: 1px solid var(--primary-border-color);
        float: right;
        margin-left: 4px;
        opacity: 0;
        outline: none;
        position: absolute;
        right: 4px;
        top: 4px;
        transition: opacity 100ms ease-in;

        &:nth-of-type(1) {
            right: 38px;
        }

        i {
            color: $gray-500;
        }

        &:hover {

            i {
                color: $gray-600;
            }
        }
    }

    &:hover {

        button {
            opacity: 1;
            transition-delay: 200ms;
        }
    }
}
