.collapsible {
    border: 1px solid var(--color-gray-400);
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    & > .header {
        background-color: var(--color-gray-000);
        border-radius: inherit;
        position: relative;
        padding: var(--spacing);

        .btn,
        .btn-link {
            background: var(--color-gray-000);
            height: 1.8rem;
            position: absolute;
            right: calc(var(--spacing) - 2px);
            top: calc(var(--spacing) - 2px);
            width: 1.8rem;
        }

        .btn-link {
            color: var(--color-gray-500);
            right: calc(var(--spacing) - 2px + 30px);

            &:hover,
            &:focus,
            &:active {
                color: var(--link-color);
            }
        }

        .btn {
            line-height: 0;
            margin: 0;
            padding: 0;
            text-align: center;

            i {
                transform: scale(.6);
            }
        }
    }

    & > .content {
        padding: var(--spacing);

        & > .ansi,
        & > .snippet {
            margin: calc(var(--spacing) * -1);

            pre {
                border: 0;
                background-color: $white;
            }
        }
    }

    &.has-content {

        & > .header {
            padding-right: 65px;
        }
    }

    &.is-expanded {

        & > .header {
            border-bottom: 1px solid var(--color-gray-300);
            border-radius: 0;
        }
    }

    & + .collapsible {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 0;
    }
}

.collapsible-group {

    & > :last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

.console,
.trace {

    &.collapsible-group,
    .collapsible-group {

        & > .collapsible {
            position: relative;
            z-index: 1;

            & > .header {
                font-weight: var(--font-weight-normal);

                // Filename inside of trace collapsibles will overflow
                // from left to right (i.e. clipping the start of the directory
                // instead of the filename or the last part of the directory).
                .filename {
                    direction: rtl;
                    display: inline-block;
                    line-height: 1em;
                    margin-right: var(--spacing-half);
                    max-width: 80%;
                    overflow: hidden;
                    padding: 0 2px;
                    position: relative;
                    text-overflow: ellipsis;
                    top: 2px;
                    white-space: nowrap;
                }
            }

            &.has-context-menu {
                box-shadow: 0 0 0px 1px var(--color-blue-300);
                z-index: 2;
            }
        }
    }
}
