.console {
    margin-bottom: var(--spacing-double);

    .Box-body {
        word-break: break-all;
    }

    &.console--ansi,
    &.console--snippet {

        .content {

            .ansi,
            .snippet {

                pre {
                    border: 0;
                    background-color: $white;
                }
            }
        }
    }
}
