.console {
    margin-bottom: var(--spacing-double);

    .Box-body {
        word-break: break-all;
    }

    &.console--ansi,
    &.console--snippet {
        .content {
            .ansi,
            .snippet {
                pre {
                    background-color: var(--secondary-background-color);
                    border: 0;
                }
            }
        }
    }
}
