.contents {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .no-projects {
        height: 100vw;
        padding: 210px 0 0;
        text-align: center;
        width: 100%;

        @include darwin {
            -webkit-app-region: drag;
        }

        h1 {
            margin-bottom: var(--spacing-double);
        }

        & > button {
            -webkit-app-region: no-drag;
        }
    }
}
