.contents {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    height: 100%;
    position: relative;

    @include linux {
        border-top: 1px solid var(--sidebar-border-color);
    }

    .no-projects {
        flex: 1 1 auto;
        padding: 210px 0 0;
        text-align: center;
        width: 100%;

        @include darwin {
            -webkit-app-region: drag;
        }

        h1 {
            margin-bottom: var(--spacing-double);
        }

        > button {
            -webkit-app-region: no-drag;
        }
    }
}
