.cta {
    animation: fade-in-top .4s forwards;

    code {
        background-color: var(--secondary-background-color-dark);
        padding: 2px;
    }

    .btn {
        + .btn {
            margin-left: var(--spacing);
        }
    }
}
