.feedback {

    h4,
    .message {
        user-select: text;
        word-break: break-word;
    }

    .message {
        color: var(--color-gray-700);
        font-size: 1.2rem;
        margin-top: var(--spacing-half);
        margin-bottom: var(--spacing-and-half);
    }
}
