.feedback {

    h4,
    .message {
        user-select: text;
        word-break: break-word;
    }

    .message {
        color: var(--color-gray-700);
        font-size: 1.2rem;
        margin-top: var(--spacing-half);
        margin-bottom: var(--spacing-and-half);

        :not(:empty) {
            white-space: pre-wrap;
        }

        code {
            background-color: $blue-100;
            border-radius: 2px;
            color: $blue-800;
            padding: 1px 5px;
            word-break: break-all;
        }
    }
}
