.filename {
    @include clearfix;
    font-size: 0;

    & > span {
        font-size: 1rem;
    }

    & > .dir {
        color: var(--text-color-secondary-discreet);
        word-break: break-all;
    }
}
