.filename {
    @include clearfix;

    font-size: 0;
    user-select: text;

    > span {
        font-size: 1rem;
    }

    > .dir {
        color: var(--color-fg-subtler);
        word-break: break-all;
    }

    // Truncate variation has a different structure.
    &--truncate {
        color: var(--color-fg-subtler);
        font-size: 1rem;
        word-break: break-all;

        > strong {
            color: var(--color-fg-default);
            font-weight: var(--font-weight-normal);
            word-break: normal;
        }
    }
}
