.filename {
    @include clearfix;

    & > span {
        display: inline-block;
        float: left;
    }

    & > .dir {
        color: $secondary-discreet-text;
        word-break: break-all;
    }
}
