input {
    -webkit-app-region: no-drag;

    &::placeholder {
        color: var(--input-placeholder-text-color);
    }

    &[type=checkbox],
    &[type=radio] {
        position: relative;
        top: 2px;
    }

    &[type=search]::-webkit-search-cancel-button {
        appearance: searchfield-cancel-button;
        position: relative;
        right: -2px;
        visibility: visible !important;
    }
}

select {
    &.input-sm {
        height: 28px;
    }

    &.form-select {
        box-shadow: 0 1px 1px $gray-100;
    }
}

.form-group {
    > :last-child {
        margin-bottom: 0;
    }

    .form-control {
        background-color: transparent;
        border-radius: 2px;
        order: 0;
        width: auto;

        &:focus {
            box-shadow: none;
        }
    }

    .form-help {
        color: palette('gray', 600);
        margin-top: var(--spacing-third);
        order: 1;
    }

    .form-error {
        color: palette('red', 700);
        margin-top: var(--spacing-third);
        order: 2;
    }

    &.errored,
    .errored {
        .form-control {
            border-color: palette('red', 700);
        }
    }

    dl {
        display: flex;
        margin: 0 0 var(--spacing);

        dt {
            flex-shrink: 0;
            line-height: 28px;
            margin: 0 var(--spacing) 0;
            text-align: right;
            width: 150px;
        }

        dd {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;

            > select,
            > input {
                flex-grow: 1;
            }

            > label {
                line-height: 27px;
                margin-right: var(--spacing);

                > input[type=radio] {
                    margin-right: var(--spacing-third);
                }
            }

            &.checkbox-list {
                position: relative;
                top: 1px;

                label {
                    font-weight: normal;
                }
            }

            > .form-error,
            > .form-help {
                width: 100%;
            }

            > :last-child {
                margin-right: 0;
            }
        }
    }
}

.remove-row {
    appearance: none;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: palette('gray', 500);
    margin-left: var(--spacing-half);
    text-align: center;

    &:hover,
    &:focus {
        color: palette('red', 500);
        outline: 0;
    }
}
