.framework {
    background: $primary;
    border-top: 1px solid $primary-border;
    margin-bottom: 30px;

    & > .header {

        & > .title {

            .heading {
                font-size: 1.5rem;
                font-weight: 900;
            }
        }
    }

    .progress {
        padding: 5px;
        overflow: hidden;

        .ellipsis-expander {
            margin-left: 5px;
            position: relative;
            top: -1px;

            &:focus {
                outline: 0;
            }
        }
    }

    .filter-bar,
    .progress-breakdown {
        background-color: $secondary;
        border-top: 1px solid $primary-border;
        padding: 5px;
    }

    & > :last-child:not(.is-expanded) {
        border-bottom: 1px solid $primary-border;
    }

    &.status--passed {

        .progress {

            & > .status {
                color: theme-color-dark('success');
            }
        }
    }

    &.status--failed {

        .progress {

            & > .status {
                color: theme-color-dark('danger');
            }
        }
    }

    &.status--incomplete {

        .progress {

            & > .status {
                color: theme-color-dark('incomplete');
            }
        }
    }

    &.status--warning {

        .progress {

            & > .status {
                color: theme-color-dark('warning');
            }
        }
    }

    &.status--partial {

        .progress {

            & > .status {
                color: theme-color-dark('idle');
            }
        }
    }

    &.status--empty {

        .progress {

            & > .status {
                color: theme-color-dark('idle');
            }
        }
    }

    &.status--idle {

        .progress {

            & > .status {
                color: theme-color-dark('idle');
            }
        }
    }
}
