.framework {
    background: $primary;
    border-top: 1px solid $primary-border;
    margin-bottom: 30px;

    & > .header {

        & > .title {
            padding: 10px 5px 5px;
            position: relative;
            overflow: hidden;

            h3 {
                display: inline-block;
                font-size: 1.5rem;
                font-weight: 900;
                margin: 0 0 0 28px;
            }

            & > .status {
                display: inline-block;
                height: 18px;
                left: 8px;
                margin: 2px 4px;
                position: absolute;
                top: 13px;
                width: 18px;

                & > .spinner {
                    height: 26px;
                    left: -7px;
                    top: -5px;
                    width: 26px;
                }

                & > .indicator {
                    background-color: theme-color('idle');
                    border-radius: 100%;
                    box-shadow: 0 0 0 3px transparentize(theme-color('idle'), .5);
                    display: inline-block;
                    height: 13px;
                    left: -1px;
                    position: relative;
                    top: 1px;
                    width: 13px;
                }
            }
        }
    }

    .progress-bar {
        padding: 5px;
        overflow: hidden;

        & > .status {
            font-weight: 600;
        }
    }

    .filter-bar {
        background-color: $secondary;
        border-top: 1px solid $primary-border;
        padding: 5px;
    }

    & > :last-child:not(.is-expanded) {
        border-bottom: 1px solid $primary-border;
    }

    &.status--passed {

        & > .header {

            & > .title {

                & > .status {

                    & > .indicator {
                        background-color: theme-color('success');
                        box-shadow: 0 0 0 3px transparentize(theme-color('success'), .5);
                    }
                }
            }
        }

        .progress-bar {

            & > .status {
                color: theme-color-dark('success');
            }
        }
    }

    &.status--failed {

        & > .header {

            & > .title {

                & > .status {

                    & > .indicator {
                        background-color: theme-color('danger');
                        box-shadow: 0 0 0 3px transparentize(theme-color('danger'), .5);
                    }
                }
            }
        }

        .progress-bar {

            & > .status {
                color: theme-color-dark('danger');
            }
        }
    }

    &.status--incomplete {

        & > .header {

            & > .title {

                & > .status {

                    & > .indicator {
                        background-color: theme-color('incomplete');
                        box-shadow: 0 0 0 3px transparentize(theme-color('incomplete'), .5);
                    }
                }
            }
        }

        .progress-bar {

            & > .status {
                color: theme-color-dark('incomplete');
            }
        }
    }

    &.status--warning {

        & > .header {

            & > .title {

                & > .status {

                    & > .indicator {
                        background-color: theme-color('warning');
                        box-shadow: 0 0 0 3px transparentize(theme-color('warning'), .5);
                    }
                }
            }
        }

        .progress-bar {

            & > .status {
                color: theme-color-dark('warning');
            }
        }
    }

    &.status--partial {

        & > .header {

            & > .title {

                & > .status {

                    & > .indicator {
                        background-color: theme-color('idle');
                        box-shadow: 0 0 0 3px transparentize(theme-color('idle'), .5);
                    }
                }
            }
        }

        .progress-bar {

            & > .status {
                color: theme-color-dark('idle');
            }
        }
    }

    &.status--empty {

        & > .header {

            & > .title {

                & > .status {

                    & > .indicator {
                        background-color: theme-color('idle');
                        box-shadow: 0 0 0 3px transparentize(theme-color('idle'), .5);
                    }
                }
            }
        }

        .progress-bar {

            & > .status {
                color: theme-color-dark('idle');
            }
        }
    }

    &.status--idle {

        & > .header {

            & > .title {

                & > .status {

                    & > .indicator {
                        background-color: theme-color('idle');
                        box-shadow: 0 0 0 3px transparentize(theme-color('idle'), .5);
                    }
                }
            }
        }

        .progress-bar {

            & > .status {
                color: theme-color-dark('idle');
            }
        }
    }
}
