.framework {
    background: $primary;
    border-top: 1px solid $primary-border;
    margin-bottom: 30px;

    & > .header {

        & > .title {

            .heading {
                font-size: 1.5rem;
                font-weight: 900;
            }
        }
    }

    .progress {
        padding: 5px;
        overflow: hidden;

        .ellipsis-expander {
            margin-left: 5px;
            position: relative;
            top: -1px;

            &:focus {
                outline: 0;
            }
        }
    }

    .filters {
        background-color: $secondary;
        border-top: 1px solid $primary-border;
        padding: 8px 5px;

        .progress-breakdown {
            @include clearfix;

            .Label {
                display: block;
                float: left;
                padding: 3px 6px;
                margin: 0 6px 6px 0;
            }
        }

        input {
            color: var(--input-text-color);

            &::-webkit-input-placeholder {
                color: var(--input-placeholder-text-color);
            }
        }
    }

    & > :last-child:not(.is-expanded) {
        border-bottom: 1px solid $primary-border;
    }
}
