.group {
    @include clearfix;
    position: relative;

    & > .seam {
        display: none;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: var(--status-block-width);
        z-index: 2;

        &::before {
            border-right-width: 2px;
            border-right-style: solid;
            content: '';
            height: calc(100% - 16px);
            left: 13px;
            position: absolute;
            top: 0;
            transition: border-color 100ms ease-in-out;
            width: 0;
        }

        &::after {
            background-color: $primary;
            border-radius: 100%;
            border-style: double;
            border-width: 4px;
            bottom: 14px;
            content: '';
            height: 2px;
            left: 9px;
            position: absolute;
            transition: border-color 100ms ease-in-out;
            width: 2px;
        }
    }

    & > .header {
        background-color: $primary-border;
        padding: 1px 0 0;
        padding-left: calc(var(--status-block-width) + var(--status-soft-border-width));
        position: relative;

        .status {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transition: background-color 100ms ease-in-out, border-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
            width: var(--status-block-width);
            z-index: 3;
        }

        .header-inner {
            display: flex;
            padding: 5px;
            padding-right: 25px;
            background-color: $primary;
        }

        .toggle {
            position: absolute;
            right: 8px;
            top: calc(50% - 8px);

            i {

                svg {
                    fill: $secondary-discreet-text;
                }
            }
        }
    }

    & > .group-items {
        background-color: $secondary;
        list-style: none;
        padding: 0 0 8px var(--status-block-width);
        position: relative;
        z-index: 1;

        & > :last-child {

            &.is-collapsed {
                border-bottom: 1px solid $primary-border;
            }
        }
    }

    &.is-expanded {

        & > .seam {
            display: block;
        }

        & > .group-items {

            & > :nth-last-child(1) {

                &.group.is-expanded {

                    & > .seam {

                        &::after {
                            bottom: 6px;
                        }
                    }

                    & > .group-items {
                        padding-bottom: 0;
                    }
                }
            }
        }

        &.has-children {
            background: red;
        }
    }

    &.status--passed {

        & > .seam::before,
        & > .seam::after {
            border-color: theme-color('passed');
        }

        & > .header {

            .status {
                background-color: theme-color('passed');
                border-right: 1px solid darken(theme-color('passed'), 10%);
                box-shadow: var(--status-soft-border-width) 0 0 0 transparentize(theme-color('passed'), .6);
            }
        }
    }

    &.status--failed {

        & > .seam::before,
        & > .seam::after {
            border-color: theme-color('failed');
        }

        & > .header {

            .status {
                background-color: theme-color('failed');
                border-right: 1px solid darken(theme-color('failed'), 10%);
                box-shadow: var(--status-soft-border-width) 0 0 0 transparentize(theme-color('failed'), .6);
            }
        }
    }

    &.status--incomplete,
    &.status--skipped {

        & > .seam::before,
        & > .seam::after {
            border-color: theme-color('incomplete');
        }

        & > .header {

            .status {
                background-color: theme-color('incomplete');
                border-right: 1px solid darken(theme-color('incomplete'), 10%);
                box-shadow: var(--status-soft-border-width) 0 0 0 transparentize(theme-color('incomplete'), .6);
            }
        }
    }

    &.status--warning {

        & > .seam::before,
        & > .seam::after {
            border-color: theme-color('warning');
        }

        & > .header {

            .status {
                background-color: theme-color('warning');
                border-right: 1px solid darken(theme-color('warning'), 10%);
                box-shadow: var(--status-soft-border-width) 0 0 0 transparentize(theme-color('warning'), .6);
            }
        }
    }

    &.status--partial {

        & > .seam::before,
        & > .seam::after {
            border-color: theme-color('partial');
        }

        & > .header {

            .status {
                @include striped('partial');
                border-right: 1px solid darken(theme-color('partial'), 10%);
                box-shadow: var(--status-soft-border-width) 0 0 0 transparentize(theme-color('partial'), .6);
            }
        }
    }

    &.status--empty {

        & > .seam::before,
        & > .seam::after {
            border-color: theme-color('idle');
        }

        & > .header {

            .status {
                background-color: theme-color('idle');
                border-right: 1px solid darken(theme-color('idle'), 10%);
                box-shadow: var(--status-soft-border-width) 0 0 0 transparentize(theme-color('idle'), .6);
            }
        }
    }

    &.status--idle {

        & > .seam::before,
        & > .seam::after {
            border-color: theme-color('idle');
        }

        & > .header {

            .status {
                background-color: theme-color('idle');
                border-right: 1px solid darken(theme-color('idle'), 3%);
                box-shadow: var(--status-soft-border-width) 0 0 0 transparentize(theme-color('idle'), .6);
            }
        }
    }

    &.is-active {

        & > .header {

            & > .header-inner {
                background-color: $active-background;
            }
        }
    }

    &.is-active,
    &.is-child-active {

        & > .header {

            & > .status {
                border-right-color: theme-color('selected');
                box-shadow: 4px 0 0 0 rgba(theme-color('selected'), .6);
            }
        }
    }
}
