.status {

    & > .indicator {
        background-color: theme-color('idle');
        border-radius: 100%;
        box-shadow: 0 0 0 4px transparentize(theme-color('idle'), .6);
        display: inline-block;
        height: 14px;
        position: relative;
        top: 0;
        transition: background-color 100ms ease-in-out, border-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
        width: 14px;

        i {
            position: relative;
            top: -2px;
        }

        .spinner {
            left: -2px;
            position: relative;
            top: -2px;

            & > svg {
                overflow: visible;
            }
        }
    }

    &.status--passed {

        & > .indicator {
            background-color: theme-color('passed');
            box-shadow: 0 0 0 4px transparentize(theme-color('passed'), .6);
        }
    }

    &.status--failed {

        & > .indicator {
            background-color: theme-color('failed');
            box-shadow: 0 0 0 4px transparentize(theme-color('failed'), .6);
        }
    }

    &.status--incomplete {

        & > .indicator {
            background-color: theme-color('incomplete');
            box-shadow: 0 0 0 4px transparentize(theme-color('incomplete'), .6);
        }
    }

    &.status--warning {

        & > .indicator {
            background-color: theme-color('warning');
            box-shadow: 0 0 0 4px transparentize(theme-color('warning'), .6);
        }
    }

    &.status--partial {

        & > .indicator {
            @include striped('partial');
            box-shadow: 0 0 0 4px transparentize(theme-color('partial'), .6);
        }
    }

    &.status--queued {

        & > .indicator {
            background-color: theme-color('queued');
            box-shadow: 0 0 0 4px transparentize(theme-color('queued'), .6);
        }
    }

    &.status--empty {

        & > .indicator {
            background-color: $white;
            box-shadow: 0 0 0 4px transparentize(theme-color('idle'), .6);

            i {
                color: theme-color('idle', 'step', 200);
            }
        }
    }

    &.status--idle {

        & > .indicator {
            background-color: theme-color('idle');
            box-shadow: 0 0 0 4px transparentize(theme-color('idle'), .6);
        }
    }

    &.status--error {

        & > .indicator {
            background-color: theme-color('failed');
            box-shadow: 0 0 0 4px transparentize(theme-color('failed'), .6);

            i {
                color: $white;
                opacity: .9;
            }
        }
    }

    &.status--refreshing,
    &.status--running {

        & > .indicator {
            background-color: transparentize(theme-color('idle'), .6);
            box-shadow: 0 0 0 4px transparent;
        }
    }
}
