.input--select {
    cursor: pointer;
    height: 18px;
    text-align: center;
    width: 20px;
    opacity: .3;

    input {
        background-color: gray;
        color: red;
    }

    .selective & {
        opacity: 1;
    }
}
