.input--select {
    cursor: pointer;
    height: 18px;
    margin-right: 4px;
    opacity: .3;
    text-align: center;
    width: 20px;

    input {
        background-color: gray;
        color: red;
    }

    .selective & {
        opacity: 1;
    }
}
