.input--select {
    cursor: pointer;
    height: 18px;
    margin-left: $indicator-width;
    text-align: center;
    width: 20px;
    visibility: hidden;

    .selective & {
        visibility: visible;
    }
}
