main {
    display: flex;

    & > :first-child {
        border-right: 1px solid $primary-border;
    }

    .pane {
        flex-grow: 1;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;

        pre {
            white-space: pre-wrap;
            word-break: break-all;
        }
    }
}
