.meta {
    margin-bottom: var(--spacing-double);

    table {
        border-left: 1px solid var(--color-border-default);
        border-right: 1px solid var(--color-border-default);
        font-family: var(--font-family-monospace);
        font-size: 1rem;
        line-height: 1.5;

        .heading {
            font-weight: var(--font-weight-semibold);
            max-width: 250px;
            overflow: hidden;
            text-align: right;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        td {
            border-left: 0;
            padding: 3px 7px;
            user-select: text;
        }

        td:not(.heading) {
            border-right: 0;
            word-break: break-word;
        }
    }
}

.meta-group {
    padding-top: var(--spacing);
}
