.meta {
    margin-bottom: var(--spacing-double);

    table {
        border-left: 1px solid var(--color-gray-200);
        border-right: 1px solid var(--color-gray-200);
        font-family: var(--font-family-monospace);
        font-size: 1rem;
        line-height: 1.5;

        .heading {
            font-weight: var(--font-weight-semibold);
            max-width: 250px;
            overflow: hidden;
            text-align: right;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        td {
            border-left: 0;
            padding: 3px 7px;
            user-select: text;
        }

        td:not(.heading) {
            border-right: 0;
            word-break: break-word;
        }
    }

    &.is-collapsed {
        border: 1px solid var(--color-gray-200);
        max-height: 150px;
        overflow: hidden;
        position: relative;

        table {
            border: 0;
            margin-top: -1px !important;
            max-height: inherit;
            overflow: hidden;
            position: relative;

            &::after {
                background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, .85) 90%);
                bottom: 0;
                content: '';
                height: 7em;
                left: 0;
                pointer-events: none;
                position: absolute;
                width: 100%;
                z-index: 1;
            }
        }
    }
}

.meta-group {
    padding-top: var(--spacing);
}
