// ========================================================================
// Modals
// ========================================================================

@use "sass:color";

.modal-open {
    overflow: hidden;

    .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.modal {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    outline: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1001;

    .modal-dialog {
        flex-grow: 1;
        margin: var(--spacing-triple) auto;
        max-width: var(--modal-medium);
        pointer-events: none;
        position: relative;
        transition: transform .3s ease, opacity .3s ease;
        width: auto;

        @include media-breakpoint-up(lg) {
            &.modal-lg {
                max-width: var(--modal-large);
                max-height: 500px;
            }
        }

        &.modal-sm {
            max-width: var(--modal-small);
        }
    }

    .modal-content {
        @include drop-shadow;

        -webkit-app-region: no-drag;
        background-clip: padding-box;
        background-color: var(--primary-background-color);
        border: 1px solid var(--primary-border-color);
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        outline: 0;
        pointer-events: auto;
        position: relative;
    }

    .modal-header {
        align-items: center;
        border-bottom: 0;
        border-bottom: 1px solid var(--primary-border-color);
        display: flex;
        justify-content: left;
        padding: var(--spacing-and-half);

        > i {
            margin-right: var(--spacing);
            position: relative;
            top: 1px;

            svg {
                height: 25px;
                width: 25px;
            }

            &.type--error {
                color: var(--color-danger-fg);
            }

            &.type--warning {
                color: var(--color-attention-fg);
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            line-height: 1;
        }

        > .more-actions {
            margin-left: auto;

            button {
                border-radius: .25em;
                color: var(--color-scale-gray-5);
                height: 25px;
                min-width: 25px;

                &:hover,
                &:focus,
                &:active {
                    background-color: var(--secondary-background-color-dark);
                    outline: 0;
                }
            }
        }

        &:empty {
            display: none;
        }

        .close {
            background-color: transparent;
            border: 0;
            font-size: 2.5rem;
            font-weight: 300;
            line-height: .8;
            margin-left: auto; // Force icon to the right even when there's no .modal-title
            opacity: .3;

            &:hover,
            &:focus {
                opacity: .6;
                outline: 0;
            }
        }
    }

    .modal-title {
        margin-bottom: 0;
    }

    .modal-body {
        flex: 1 1 auto;
        max-height: 460px;
        overflow: auto;
        padding: var(--spacing-double);
        position: relative;

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }

        code {
            background-color: color.adjust($gray-400, $alpha: -.6);
            display: inline-block;
            margin-top: 2px;
            padding: 2px 4px;
        }

        > form {
            margin: calc(var(--spacing-double) * -1);
            padding: 0 var(--spacing-double);

            > h5 {
                margin-bottom: calc(var(--spacing) * -1);
                margin-top: var(--spacing);
            }

            > .form-group {
                .input-block {
                    width: 100%;
                }

                > hr {
                    margin-left: calc(var(--spacing-double) * -1);
                    margin-right: calc(var(--spacing-double) * -1);
                }
            }
        }

        > .fluid {
            margin: calc(var(--spacing-double) * -1);
        }
    }

    .modal-footer {
        align-items: center;
        border-top: 1px solid var(--primary-border-color);
        display: flex;
        justify-content: flex-end;
        padding: var(--spacing-double);
        text-align: right;

        .container-fluid {
            padding-left: 0;
            padding-right: 0;
        }

        .btn {
            min-width: 90px;
        }

        .btn + .btn {
            margin-bottom: 0;
            margin-left: 5px;
        }

        &.separated {
            justify-content: space-between;
        }
    }

    .modal-help {
        background-color: var(--color-sidebar-accent);
        border-top: 1px solid var(--color-scale-blue-3);
        box-shadow: inset 0 -4px 0 color.adjust($blue-300, $alpha: -.8);
        display: flex;
        overflow: hidden;
        padding: var(--spacing-double);
        user-select: text;

        @include dark {
            border-top: 1px solid var(--color-scale-blue-7);
            box-shadow: inset 0 -4px 0 color.adjust($blue-700, $alpha: -.8);
        }

        i {
            color: var(--color-scale-blue-6);
            margin-right: 10px;
            min-width: 20px;
            text-align: center;

            @include dark {
                color: var(--color-fg-default);
            }
        }

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }

        code {
            background-color: color.adjust($blue-300, $alpha: -.6);
            padding: 1px 4px;
            word-break: break-all;
        }
    }

    &.modal--paged {
        .modal-footer {
            justify-content: space-between;

            .modal-pages {
                color: var(--color-scale-gray-5);
                font-size: 0;

                > span {
                    font-size: 1.5rem;
                    margin-right: 3px;
                }
            }
        }
    }
}

.modal-backdrop {
    background-color: black;
    bottom: 0;
    left: 0;
    opacity: .4;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .3s ease;
    z-index: 1002;
}

.modal-enter-from,
.modal-leave-to {
    &.modal-backdrop {
        opacity: 0;
    }

    .modal-dialog {
        opacity: 0;
        transform: scale(1.1);
    }
}
