// ========================================================================
// Modals
// ========================================================================

.modal-open {
    overflow: hidden;

    .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.modal {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    outline: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1039;

    .modal-dialog {
        flex-grow: 1;
        margin: var(--spacing);
        pointer-events: none;
        position: relative;
        transition: transform .3s ease, opacity .3s ease;
        width: auto;
    }

    .modal-content {
        @include drop-shadow;
        background-clip: padding-box;
        background-color: $primary;
        border: 1px solid $primary-border;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        outline: 0;
        pointer-events: auto;
        position: relative;
    }

    .modal-header {
        align-items: center;
        border-bottom: 0;
        border-bottom: 1px solid $primary-border;
        display: flex;
        justify-content: left;
        padding: var(--spacing-and-half);

        i {
            margin-right: var(--spacing);

            svg {
                height: 25px;
                width: 25px;
            }

            &.type--error {
                color: theme-color('failed');
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $black;
            line-height: 1;
        }
    }

    .modal-title {
        margin-bottom: 0;
    }

    .modal-body {
        flex: 1 1 auto;
        max-height: 300px;
        overflow: auto;
        padding: var(--spacing-double);
        position: relative;

        p {

            &:last-child {
                margin-bottom: 0;
            }
        }

        & > form {
            margin: calc(var(--spacing-double) * -1);
            padding: 0 var(--spacing-double);

            & > h5 {
                margin-top: var(--spacing);
                margin-bottom: calc(var(--spacing) * -1);
            }

            & > .form-group {

                .input-block {
                    width: 100%;
                }

                & > hr {
                    margin-left: calc(var(--spacing-double) * -1);
                    margin-right: calc(var(--spacing-double) * -1);
                }
            }
        }
    }

    .modal-footer {
        align-items: center;
        border-top: 1px solid $primary-border;
        display: flex;
        justify-content: flex-end;
        padding: var(--spacing-double);
        text-align: right;

        .container-fluid {
            padding-left: 0;
            padding-right: 0;
        }

        .btn {
            min-width: 90px;
        }

        .btn + .btn {
            margin-bottom: 0;
            margin-left: 5px;
        }

        &.separated {
            justify-content: space-between;
        }
    }

    .modal-help {
        background-color: $blue-100;
        border-top: 1px solid $blue-300;
        box-shadow: inset 0 -4px 0 transparentize($blue-300, .8);
        display: flex;
        padding: var(--spacing-double);
        user-select: text;

        i {
            color: $blue-600;
            margin-right: 10px;
        }

        p {

            &:last-child {
                margin-bottom: 0;
            }
        }

        code {
            background-color: transparentize($blue-300, .6);
            padding: 2px 4px;
        }
    }

    &.modal--paged {

        .modal-footer {
            justify-content: space-between;

            .modal-pages {
                color: $gray-500;
                font-size: 0;

                & > span {
                    font-size: 1.5rem;
                    margin-right: 3px;
                }
            }
        }
    }
}

.modal-backdrop {
    background-color: $black;
    bottom: 0;
    left: 0;
    opacity: .4;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .3s ease;
    z-index: 1040;
}

.modal-enter,
.modal-leave-to {

    &.modal-backdrop {
        opacity: 0;
    }

    .modal-dialog {
        opacity: 0;
        transform: scale(1.1);
    }
}


// ========================================================================
// Larger screens
// ========================================================================

@include media-breakpoint-up(sm) {

    .modal {

        .modal-dialog {
            margin: var(--spacing-triple) auto;
            max-width: var(--modal-medium);
        }

        &.modal-sm {
            max-width: var(--modal-small);
        }
    }
}

@include media-breakpoint-up(xl) {

    .modal {

        .modal-lg {
            max-width: var(--modal-large);
        }
    }
}

