.nugget {
    @include clearfix;
    position: relative;

    &:focus {
        outline: 0;
    }

    & > .seam {
        display: none;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: var(--status-block-width);
        z-index: 2;

        &::before {
            border-right-width: 2px;
            border-right-style: solid;
            content: '';
            height: calc(100% - 16px);
            left: 13px;
            position: absolute;
            top: 0;
            width: 0;
        }

        &::after {
            background-color: $primary;
            border-radius: 100%;
            border-style: double;
            border-width: 4px;
            bottom: 14px;
            content: '';
            height: 2px;
            left: 9px;
            position: absolute;
            width: 2px;
        }
    }

    & > .header {
        background-color: $primary-border;
        padding: 1px 0 0;
        padding-left: calc(var(--status-block-width) + var(--status-soft-border-width));
        position: relative;

        .status {
            border: 1px solid;
            height: 100%;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: var(--status-block-width);
            z-index: 3;

            &::after {
                color: theme-color('selected', 600);
                content: 'â—';
                display: block;
                position: relative;
                top: calc(50% - .7rem);
                transform: scale(0);
                transition: transform 340ms cubic-bezier(.18, 1.4, .4, 1);
            }

            i {
                left: 1px;
                position: relative;
                top: 4px;
            }
        }

        .header-inner {
            display: flex;
            padding: 5px;
            padding-right: 25px;
            background-color: $primary;
        }

        .toggle {
            position: absolute;
            right: 8px;
            top: calc(50% - 8px);

            i {

                svg {
                    fill: $secondary-discreet-text;
                }
            }
        }
    }

    & > .nugget-items {
        background-color: $secondary;
        list-style: none;
        padding: 0 0 8px var(--status-block-width);
        position: relative;
        z-index: 1;

        & > :last-child {

            &.is-collapsed {
                border-bottom: 1px solid $primary-border;
            }
        }
    }

    &.is-collapsed {

        & > .header {

            .status {
                border-bottom-color: transparent !important;
            }
        }
    }

    &.is-expanded {

        & > .seam {
            display: block;
        }

        & > .nugget-items {

            & > :nth-last-child(1) {

                &.nugget.is-expanded {

                    & > .seam {

                        &::after {
                            bottom: 6px;
                        }
                    }

                    & > .nugget-items {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    &.status--running {

        & > .header {

            .status {

                &::after {
                    transform: scale(1);
                }
            }
        }
    }

    &.status--passed {

        & > .seam::before,
        & > .seam::after {
            border-color: theme-color('passed');
        }

        & > .header {

            .status {
                background-color: theme-color('passed');
                border-color: darken(theme-color('passed'), 10%);
                box-shadow: var(--status-soft-border-width) 0 0 0 theme-color('passed', 200);
            }
        }
    }

    &.status--failed {

        & > .seam::before,
        & > .seam::after {
            border-color: theme-color('failed');
        }

        & > .header {

            .status {
                background-color: theme-color('failed');
                border-color: darken(theme-color('failed'), 15%);
                box-shadow: var(--status-soft-border-width) 0 0 0 theme-color('failed', 200);
            }
        }
    }

    &.status--incomplete,
    &.status--skipped {

        & > .seam::before,
        & > .seam::after {
            border-color: theme-color('incomplete');
        }

        & > .header {

            .status {
                background-color: theme-color('incomplete');
                border-color: darken(theme-color('incomplete'), 14%);
                box-shadow: var(--status-soft-border-width) 0 0 0 theme-color('incomplete', 300);
            }
        }
    }

    &.status--warning {

        & > .seam::before,
        & > .seam::after {
            border-color: theme-color('warning');
        }

        & > .header {

            .status {
                background-color: theme-color('warning');
                border-color: darken(theme-color('warning'), 5%);
                box-shadow: var(--status-soft-border-width) 0 0 0 theme-color('warning', 300);
            }
        }
    }

    &.status--partial {

        & > .seam::before,
        & > .seam::after {
            border-color: theme-color('partial');
        }

        & > .header {

            .status {
                @include striped('partial');
                border-color: darken(theme-color('partial'), 10%);
                box-shadow: var(--status-soft-border-width) 0 0 0 theme-color('partial', 400);
            }
        }
    }

    &.status--empty {

        & > .seam::before,
        & > .seam::after {
            border-color: theme-color('idle');
        }

        & > .header {

            .status {
                background-color: theme-color('idle', 200);
                border-color: theme-color('idle');
                box-shadow: var(--status-soft-border-width) 0 0 0 theme-color('idle', 200);

                &::before {
                    border-left: 1px solid theme-color('idle');
                    content: '';
                    display: block;
                    height: calc(100% + 10px);
                    left: 8px;
                    position: relative;
                    top: 2px;
                    transform: rotate(40deg);
                    width: 100%;
                }
            }
        }
    }

    &.status--queued,
    &.status--running {

        & > .seam::before,
        & > .seam::after {
            border-color: theme-color('queued');
        }

        & > .header {

            .status {
                background-color: theme-color('queued');
                border-color: darken(theme-color('queued'), 3%);
                box-shadow: var(--status-soft-border-width) 0 0 0 theme-color('queued', 100);
            }
        }
    }

    &.status--idle {

        & > .seam::before,
        & > .seam::after {
            border-color: theme-color('idle');
        }

        & > .header {

            .status {
                background-color: theme-color('idle');
                border-color: darken(theme-color('idle'), 3%);
                box-shadow: var(--status-soft-border-width) 0 0 0 theme-color('idle', 200);
            }
        }
    }

    &.status--error {

        & > .seam::before,
        & > .seam::after {
            border-color: theme-color('failed');
        }

        & > .header {

            .status {
                background-color: theme-color('failed', 400);
                border-color: darken(theme-color('failed'), 10%);
                box-shadow: var(--status-soft-border-width) 0 0 0 theme-color('failed', 200);

                i {
                    color: $white;
                }
            }
        }
    }

    &.is-active {

        & > .header {
            background-color: var(--item-selected-active-background-color);

            & > .header-inner {
                background-color: var(--item-selected-active-background-color);
                color: var(--item-selected-active-text-color);

                & > .selective-toggle {

                    button {
                        border-color: $white;
                    }

                    input:checked {
                        border-radius: 2px;
                        box-shadow: 0px 0px 0px 1px white;
                    }
                }
            }
        }
    }

    &:focus-within,
    &.is-active,
    &.is-child-active {

        & > .header {

            & > .status {
                border-right-color: theme-color('selected');
                box-shadow: 4px 0 0 0 $blue-300;
            }
        }
    }

    // Parent nuggets can only focused by keyboard navigation.
    // This distinguishes them from just having a child active.
    &.suite:focus,
    &.has-children:focus {

        & > .header {

            & > .header-inner {
                background-color: theme-color('selected', 100);

                & > .filename {

                    & > .dir {
                        // Give a slight readability boost to discreet text.
                        color: var(--text-color-secondary);
                    }
                }
            }
        }
    }
}
