.object {
    > .key-value {
        margin-bottom: var(--spacing);

        > .key {
            color: $secondary-discreet-text;
            font-weight: var(--font-weight-semibold);
            text-transform: uppercase;
        }

        > .value {
            user-select: text;
        }
    }

    > :last-child {
        margin-bottom: 0;
    }
}
