.parent {

    & > .header {
        position: sticky;

        & > .title {
            display: flex;
            padding: var(--spacing) var(--spacing) var(--spacing-half) var(--spacing-half);
            position: relative;

            .heading {
                display: flex;
                flex-grow: 1;

                .toggle {
                    display: inline-block;
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin: 0 0 0 var(--spacing-half);
                    position: relative;
                    width: 1rem;

                    &:hover,
                    &:focus,
                    &:active {
                        color: var(--link-color);
                    }

                    & > i {
                        line-height: 5px;
                        vertical-align: middle;
                    }
                }
            }

            & > .status {
                flex-shrink: 0;
                height: 18px;
                margin: 5px 8px 0 3px;
                text-align: center;
                width: 18px;
            }

            & > .actions {
                flex-shrink: 0;

                .more-actions {
                    border-radius: .25em;
                    color: $gray-500;
                    height: 100%;
                    min-width: 15px;

                    &:hover,
                    &:focus,
                    &:active {
                        background-color: darken($secondary, 5%);
                        outline: 0;
                    }
                }
            }
        }

        .progress {
            padding: var(--spacing-half) var(--spacing);
            overflow: hidden;

            .ellipsis-expander {
                margin-left: 5px;
                position: relative;
                top: -1px;

                &:focus {
                    outline: 0;
                }
            }

            &:empty {
                display: none;
            }
        }
    }

    &.is-collapsed {

        & > .header {

            & > .title {
                display: flex;
                padding: var(--spacing) var(--spacing) var(--spacing-half) var(--spacing-half);
                position: relative;

                .heading {
                    flex-grow: 1;

                    .toggle {
                        left: 1px;
                        top: -1px;
                    }
                }
            }
        }
    }
}
