.parent {

    & > .header {

        & > .title {
            display: flex;
            padding: var(--spacing) var(--spacing) var(--spacing-half) var(--spacing-half);
            position: relative;

            .heading {
                flex-grow: 1;
            }

            & > .status {
                flex-shrink: 0;
                height: 18px;
                margin: 5px 8px 0 3px;
                text-align: center;
                width: 18px;

                & > .indicator {
                    background-color: theme-color('idle');
                    border-radius: 100%;
                    box-shadow: 0 0 0 4px transparentize(theme-color('idle'), .6);
                    display: inline-block;
                    height: 15px;
                    position: relative;
                    top: 0;
                    transition: background-color 100ms ease-in-out, border-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
                    width: 15px;
                }
            }

            & > .actions {
                flex-shrink: 0;
            }
        }
    }

    &.status--passed {

        & > .header {

            & > .title {

                & > .status {

                    & > .indicator {
                        background-color: theme-color('passed');
                        box-shadow: 0 0 0 4px transparentize(theme-color('passed'), .6);
                    }
                }
            }
        }
    }

    &.status--failed {

        & > .header {

            & > .title {

                & > .status {

                    & > .indicator {
                        background-color: theme-color('failed');
                        box-shadow: 0 0 0 4px transparentize(theme-color('failed'), .6);
                    }
                }
            }
        }
    }

    &.status--incomplete {

        & > .header {

            & > .title {

                & > .status {

                    & > .indicator {
                        background-color: theme-color('incomplete');
                        box-shadow: 0 0 0 4px transparentize(theme-color('incomplete'), .6);
                    }
                }
            }
        }
    }

    &.status--warning {

        & > .header {

            & > .title {

                & > .status {

                    & > .indicator {
                        background-color: theme-color('warning');
                        box-shadow: 0 0 0 4px transparentize(theme-color('warning'), .6);
                    }
                }
            }
        }
    }

    &.status--partial {

        & > .header {

            & > .title {

                & > .status {

                    & > .indicator {
                        @include striped('partial');
                        box-shadow: 0 0 0 4px transparentize(theme-color('partial'), .6);
                    }
                }
            }
        }
    }

    &.status--queued {

        & > .header {

            & > .title {

                & > .status {

                    & > .indicator {
                        background-color: theme-color('queued');
                        box-shadow: 0 0 0 4px transparentize(theme-color('queued'), .6);
                    }
                }
            }
        }
    }

    &.status--empty {

        & > .header {

            & > .title {

                & > .status {

                    & > .indicator {
                        background-color: theme-color('idle');
                        box-shadow: 0 0 0 4px transparentize(theme-color('idle'), .6);
                    }
                }
            }
        }
    }

    &.status--idle {

        & > .header {

            & > .title {

                & > .status {

                    & > .indicator {
                        background-color: theme-color('idle');
                        box-shadow: 0 0 0 4px transparentize(theme-color('idle'), .6);
                    }
                }
            }
        }
    }
}
