pre {
    background-color: var(--secondary-background-color);
    border: 1px solid var(--primary-border-color);
    border-radius: 3px;
    font-family: var(--font-family-monospace);
    padding: var(--spacing);
    user-select: text;
    white-space: pre-wrap;
    word-break: break-word;

    &:empty {
        display: none;
    }
}
