.preferences {
    .form-group {
        dl {
            dt {
                width: 180px;
            }
        }

        .checkbox-list > select {
            width: 100%;
            margin-bottom: var(--spacing-half);
        }
    }
}
