.project {
    display: flex;
    flex-grow: 1;

    &.no-repositories {

        & > div {
            padding: 210px 0 0;
            text-align: center;
            width: 100%;

            h2 {
                margin-bottom: var(--spacing-double);
            }
        }
    }

    &:not(.no-repositories) > .split {

        & > .pane {
            border-left: 1px solid var(--sidebar-border-color);
            margin-left: calc(var(--split-gutter-width) * -1);
        }

        & > :first-child {
            margin-left: 0;
        }

        & > :last-child {
            border-left-color: $primary-border;
        }
    }

    .split {
        display: flex;
        flex-grow: 1;

        .pane {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;
            z-index: 1;
            width: 33%;

            & + .gutter {
                -webkit-app-region: no-drag !important;
                cursor: col-resize !important;
                margin: 0;
                z-index: 2;
            }
        }
    }
}
