main {
    display: flex;
    flex-grow: 1;

    &.no-repositories {

        & > div {
            padding: 210px 0 0;
            text-align: center;
            width: 100%;

            h2 {
                margin-bottom: var(--spacing-double);
            }
        }
    }

    &:not(.no-repositories) > .split {

        & > :first-child {
            border-right: 1px solid $primary-border;
        }

        & > :last-child {
            margin-left: -10px; // Split gutter width
        }
    }

    .split {
        display: flex;
        flex-grow: 1;

        .pane {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;
            z-index: 1;
            width: 50%;

            & + .gutter {
                cursor: col-resize !important;
                margin: 0;
                z-index: 2;
            }
        }
    }
}
