.repository {
    position: relative;

    & > .header {
        background-color: $secondary;

        & > .title {

            & > .status {
                top: 15px;
            }

            .heading {
                line-height: 1em;
                font-weight: var(--font-weight-light);

                i {
                    line-height: 0;
                    vertical-align: middle;
                }

                .toggle {
                    display: inline-block;
                    margin: 0 0 0 4px;
                    width: 1.3rem;

                    &:hover,
                    &:focus,
                    &:active {
                        color: var(--link-color);
                    }
                }

                .repository-name {

                    i {
                        margin-right: 6px;
                    }
                }
            }
        }
    }

    &.is-collapsed {
        border-bottom: 1px solid $primary-border;
    }
}
