.repository {
    position: relative;

    & > .header {
        background-color: $secondary;
        border-bottom: 1px solid $primary-border;
        height: var(--repository-header-height);
        top: 0;
        z-index: var(--repository-z-index);

        & > .title {

            .heading {
                font-weight: var(--font-weight-light);
                line-height: 1em;
                overflow: hidden;

                & > i {
                    margin: 0 var(--spacing-half) 0 var(--spacing);
                    position: relative;
                    top: -3px;
                }

                & > .name {
                    overflow: hidden;
                    padding-right: var(--spacing-half);
                    text-overflow: ellipsis;
                }
            }
        }

        // First framework has no top border.
        & + .framework {
            border-top: 0;
        }
    }


    &.is-empty {

        &.is-expanded {

            & > .header {
                border-bottom: 0;
            }
        }
    }

    & > .empty-cta {
        padding: var(--spacing);
        border-bottom: 1px solid $primary-border;
    }
}
