.repository {
    position: relative;

    & > .header {
        background-color: $secondary;

        & > .title {

            .heading {
                line-height: 1em;
                font-weight: var(--font-weight-light);

                i {
                    line-height: 0;
                    vertical-align: middle;
                }

                .repository-name {

                    i {
                        margin-right: 6px;
                    }
                }
            }
        }
    }

    &.is-collapsed {
        border-bottom: 1px solid $primary-border;
    }
}
