.results {
    background-color: $primary;
    height: 100%;

    .blankslate {
        border-radius: 0;
        height: 100vh;
        color: rgba($gray-600, .3);
    }

    .header {
        background-color: $secondary;
        padding-bottom: 15px;

        h2 {
            font-size: 1.7rem;
            line-height: 1.9rem;
        }

        .breadcrumbs {
            padding: 0 15px 0;
        }
    }
}
