.results {
    background-color: $primary;
    flex-grow: 1;

    &.blankslate {
        background-color: $secondary;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        color: rgba($gray-600, .3);
    }

    & > .parent {

        & > .header {
            background-color: $secondary;
            padding-bottom: 15px;

            h2 {
                font-size: 1.7rem;
                line-height: 1.9rem;
                user-select: text;
            }

            .breadcrumbs {
                padding: 0 15px 0;

                li {
                    user-select: text;
                }
            }
        }
    }
}
