@use "sass:color";

.scrollable {
    .shadow {
        &::after {
            border-top: 1px solid var(--color-border-default);
            box-shadow: var(--color-shadow-small);
            content: "";
            height: 0;
            position: fixed;
            width: 100%;
            z-index: 1;
        }
    }
}
