@use "sass:color";

.scrollable {
    .shadow {
        &::after {
            border-top: 1px solid var(--color-gray-600);
            box-shadow: 0 2px 0 1px color.adjust($black, $alpha: -.9);
            content: "";
            height: 0;
            position: fixed;
            width: 100%;
            z-index: 1;
        }
    }
}
