.selective-toggle {
    height: 16px;
    margin-left: 3px;
    margin-right: 7px;
    position: relative;
    text-align: center;
    width: 14px;

    button {
        -webkit-appearance: none;
        background-color: transparent;
        border: 0;
        border-color: $secondary-discreet-text;
        border-radius: 100%;
        border-style: double;
        border-width: 4px;
        box-shadow: none;
        display: inline-block;
        height: 100%;
        height: 12px;
        opacity: 1;
        padding: 0;
        position: absolute;
        top: 2px;
        transition: transform 240ms cubic-bezier(.18, 1.4, .4, 1);
        width: 12px;

        &:hover,
        &:focus,
        &:active {
            outline: 0;
        }

        &[disabled] {
            border-color: transparentize($secondary-discreet-text, .5);
        }

        @include win32 {
            // Button and input positioning is tricky, so just override
            // as needed in Windows environments.
            top: 3px;
        }
    }

    &:hover,
    &:focus,
    &:active {

        button {

            &:not([disabled]) {
                background-color: var(--link-color);
                border-color: $white;
                transform: scale(1.4);
            }
        }
    }

    input {
        opacity: 0;
        position: relative;
        top: -1px;

        @include win32 {
            // Button and input positioning is tricky, so just override
            // as needed in Windows environments.
            top: 2px;
        }
    }

    .selective & {

        button {
            opacity: 0;
        }

        input {
            opacity: 1;
            transition: none;
        }
    }
}
