.sidebar {
    -webkit-app-region: drag;
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    padding: 35px 0 0;

    & > h5 {
        -webkit-app-region: no-drag;
        color: var(--sidebar-text-secondary-color);
        font-size: 1rem;
        margin: var(--spacing) 0 var(--spacing-half) var(--spacing);
    }

    .sidebar-item {
        -webkit-app-region: no-drag;

        & > .header {
            padding: var(--spacing-half) 0 var(--spacing-half) var(--spacing);

            & > .title {
                padding: 0;

                .heading {
                    color: var(--sidebar-text-color);
                    font-size: 15px;
                    font-weight: var(--font-weight-normal);
                    overflow: hidden;
                    white-space: nowrap;

                    & > i {
                        color: var(--sidebar-text-secondary-color);
                        margin: 0 var(--spacing-half) 0 var(--spacing-third);
                        text-align: center;
                        width: 14px;

                        &.toggle {
                            margin-left: calc(var(--spacing-third) * -1);
                        }
                    }

                    & > .name {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                & > .status {
                    margin-top: 4px;

                    &.status--idle {

                        & > .indicator {
                            background-color: theme-color('idle', 500);
                            box-shadow: 0 0 0 4px theme-color('idle', 400), 0 0 0 5px theme-color('idle', 200);
                        }
                    }
                }
            }
        }

        &.is-active {
            background-color: var(--sidebar-active-color);
        }
    }

    .sidebar-item--framework {
        padding-left: var(--spacing-double);
    }
}
