.sidebar {
    background-color: var(--color-sidebar-bg);
    border-radius: .0001px; // Prevent .shadow from overflowing.
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--titlebar-height));
    padding: 0;

    // Fade contents on macOS when window is not focused. This will
    // be overridden to 1 when body.is-focused
    @include darwin {
        opacity: .7;
    }

    @include darwin {
        padding: 33px 0 0;
    }

    > .draggable {
        width: 100%;
    }

    header {
        position: sticky;
        padding-bottom: 2px;
    }

    section {
        flex: 1;
        overflow-x: hidden;
        overflow-y: overlay;
        z-index: 1;
    }

    .sidebar-header {
        color: var(--color-sidebar-fg-secondary);
        font-size: 1rem;
        margin: var(--spacing) 0 var(--spacing-half) var(--spacing);

        > .sidebar-action {
            appearance: none;
            background-color: transparent;
            border: 0;
            color: var(--color-sidebar-fg-secondary);
            float: right;
            height: 22px;
            line-height: 16px;
            margin-right: var(--spacing);
            outline: 0;
            padding: 0;
            position: relative;
            text-align: center;
            top: -1px;
            visibility: hidden;
            width: 22px;

            &:active,
            &:focus {
                color: var(--color-sidebar-fg);
            }
        }

        &:hover,
        &:active,
        &:focus {
            > .sidebar-action {
                visibility: visible;
            }
        }
    }

    .sidebar-item {
        > .header {
            padding: var(--spacing-half) 0 var(--spacing-half) var(--spacing);

            > .title {
                padding: 0;

                .heading {
                    color: var(--color-sidebar-fg);
                    font-size: 15px;
                    font-weight: var(--font-weight-normal);
                    overflow: hidden;
                    white-space: nowrap;

                    > i {
                        color: var(--color-sidebar-fg-secondary);
                        margin: 0 var(--spacing-half) 0 var(--spacing-third);
                        text-align: center;
                        width: 14px;

                        &.toggle {
                            margin-left: calc(var(--spacing-third) * -1);
                        }
                    }

                    > .name {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                > .status {
                    margin-top: 4px;

                    @include light {
                        &.status--passed {
                            > .indicator {
                                box-shadow:
                                    0 0 0 4px theme-color("passed", 200),
                                    0 0 0 5px rgba($color: theme-color("passed", 100), $alpha: 75%);
                            }
                        }

                        &.status--idle,
                        &.status--empty {
                            > .indicator {
                                box-shadow:
                                    0 0 0 4px theme-color("idle", 400),
                                    0 0 0 5px rgba($color: theme-color("idle", 200), $alpha: 75%);
                            }
                        }

                        &.status--failed,
                        &.status--error {
                            > .indicator {
                                box-shadow:
                                    0 0 0 4px theme-color("failed", 200),
                                    0 0 0 5px rgba($color: theme-color("failed", 100), $alpha: 75%);
                            }
                        }

                        &.status--warning,
                        &.status--missing {
                            > .indicator {
                                box-shadow:
                                    0 0 0 4px theme-color("warning", 200),
                                    0 0 0 5px rgba($color: theme-color("warning", 100), $alpha: 75%);
                            }
                        }

                        &.status--incomplete {
                            > .indicator {
                                box-shadow:
                                    0 0 0 4px theme-color("incomplete", 200),
                                    0 0 0 5px rgba($color: theme-color("incomplete", 100), $alpha: 75%);
                            }
                        }

                        &.status--partial {
                            > .indicator {
                                box-shadow:
                                    0 0 0 4px theme-color("partial", 400),
                                    0 0 0 5px rgba($color: theme-color("partial", 200), $alpha: 75%);
                            }
                        }

                        &.status--queued {
                            > .indicator {
                                box-shadow: 0 0 0 5px rgba($color: theme-color("idle", 100), $alpha: 75%);
                            }
                        }
                    }
                }
            }
        }

        &.is-active {
            background-color: var(--color-sidebar-fg-active);
        }

        &.is-menu-active {
            > .header {
                background-color: var(--color-sidebar-accent);
            }
        }
    }

    .sidebar-item--framework {
        padding-left: var(--spacing-double);
    }
}

body {
    &.is-focused {
        .sidebar {
            opacity: 1;
        }
    }
}
