@use "sass:color";

.has-status {
    > .header {
        > .title {
            display: flex;
            padding: var(--spacing-and-half) var(--spacing) var(--spacing-half) var(--spacing-half);
            position: relative;

            .heading {
                display: flex;
                flex-grow: 1;
                overflow-wrap: anywhere;
                padding: 0 var(--spacing-half);
            }

            > .status {
                flex-shrink: 0;
                height: 18px;
                margin: 5px 3px 0;
                text-align: center;
                width: 18px;
            }

            > .actions {
                display: flex;
                flex-shrink: 0;
                font-size: 0;

                .btn,
                .btn-link {
                    margin-right: var(--spacing-half);

                    &:focus {
                        // Reduce noise in action buttons by dropping focus
                        // outline. Since they are usually disabled on click,
                        // (e.g. sync, run), then focus is short-lived anyway.
                        box-shadow: none;
                    }
                }

                > :last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.status {
    > .indicator {
        background-color: theme-color("idle");
        border-radius: 100%;
        box-shadow: 0 0 0 4px color.adjust(theme-color("idle"), $alpha: -.6);
        display: inline-block;
        height: 14px;
        position: relative;
        top: 0;
        width: 14px;

        i {
            left: -1px;
            line-height: 0;
            position: relative;
            top: -1px;
        }

        .spinner,
        .spinner::after {
            border-radius: 50%;
            height: 10em;
            width: 10em;
        }

        .spinner {
            animation: rotate .6s infinite linear;
            border-bottom: .75em solid rgb(153 153 153 / 40%);
            border-left: .75em solid rgb(100 100 100 / 90%);
            border-right: .75em solid rgb(153 153 153 / 40%);
            border-top: .75em solid rgb(153 153 153 / 40%);
            display: block;
            font-size: 2px;
            left: -3px;
            margin: 0 auto;
            position: relative;
            text-indent: -9999em;
            top: -3px;
            transform: translateZ(0);
        }
    }

    &.status--passed {
        > .indicator {
            background-color: theme-color("passed");
            box-shadow: 0 0 0 4px theme-color("passed", 200);
        }
    }

    &.status--failed {
        > .indicator {
            background-color: var(--color-danger-fg);
            box-shadow: 0 0 0 4px theme-color("failed", 200);
        }
    }

    &.status--incomplete {
        > .indicator {
            background-color: theme-color("incomplete");
            box-shadow: 0 0 0 4px theme-color("incomplete", 200);
        }
    }

    &.status--warning,
    &.status--missing {
        > .indicator {
            background-color: theme-color("warning");
            box-shadow: 0 0 0 4px theme-color("warning", 200);

            i {
                color: $white;
                opacity: .9;
            }
        }
    }

    &.status--partial {
        > .indicator {
            @include striped("partial");

            box-shadow: 0 0 0 4px theme-color("partial", 400);
        }
    }

    &.status--queued {
        > .indicator {
            background-color: theme-color("queued");
            box-shadow: 0 0 0 4px transparent;

            .spinner {
                border-color: theme-color("queued", 200);
                border-left-color: theme-color("queued", 400);
            }
        }
    }

    &.status--empty {
        > .indicator {
            background-color: $white;
            box-shadow: 0 0 0 4px theme-color("idle", 300);

            i {
                color: theme-color("idle", "step", 200);
            }
        }
    }

    &.status--idle {
        > .indicator {
            background-color: theme-color("idle", 500);
            box-shadow: 0 0 0 4px theme-color("idle", 300);
        }
    }

    &.status--error {
        > .indicator {
            background-color: var(--color-danger-fg);
            box-shadow: 0 0 0 4px theme-color("failed", 200);

            i {
                color: $white;
                opacity: .9;
            }
        }
    }

    &.status--loading,
    &.status--refreshing,
    &.status--running {
        > .indicator {
            background-color: theme-color("idle", 300);
            box-shadow: 0 0 0 4px transparent;
        }
    }
}
