.has-status {

    & > .header {

        & > .title {
            display: flex;
            padding: var(--spacing-and-half) var(--spacing) var(--spacing-half) var(--spacing-half);
            position: relative;

            .heading {
                display: flex;
                flex-grow: 1;
                padding: 0 var(--spacing-half);
            }

            & > .status {
                flex-shrink: 0;
                height: 18px;
                margin: 5px 3px 0;
                text-align: center;
                width: 18px;
            }

            & > .actions {
                flex-shrink: 0;
            }
        }
    }
}

.status {

    & > .indicator {
        background-color: theme-color('idle');
        border-radius: 100%;
        box-shadow: 0 0 0 4px transparentize(theme-color('idle'), .6);
        display: inline-block;
        height: 14px;
        position: relative;
        top: 0;
        transition: background-color 100ms ease-in-out, border-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
        width: 14px;

        i {
            position: relative;
            top: -2px;
        }

        .spinner,
        .spinner:after {
            border-radius: 50%;
            width: 10em;
            height: 10em;
        }

        .spinner {
            animation: rotate .6s infinite linear;
            border-bottom: .75em solid rgba(153, 153, 153, .4);
            border-left: .75em solid rgba(100, 100, 100, .9);
            border-right: .75em solid rgba(153, 153, 153, .4);
            border-top: .75em solid rgba(153, 153, 153, .4);
            display: block;
            font-size: 2px;
            left: -3px;
            margin: 0 auto;
            position: relative;
            text-indent: -9999em;
            top: -3px;
            transform: translateZ(0);
        }
    }

    &.status--passed {

        & > .indicator {
            background-color: theme-color('passed');
            box-shadow: 0 0 0 4px theme-color('passed', 200);
        }
    }

    &.status--failed {

        & > .indicator {
            background-color: theme-color('failed');
            box-shadow: 0 0 0 4px theme-color('failed', 200);
        }
    }

    &.status--incomplete {

        & > .indicator {
            background-color: theme-color('incomplete');
            box-shadow: 0 0 0 4px theme-color('incomplete', 200);
        }
    }

    &.status--warning {

        & > .indicator {
            background-color: theme-color('warning');
            box-shadow: 0 0 0 4px theme-color('warning', 200);
        }
    }

    &.status--partial {

        & > .indicator {
            @include striped('partial');
            box-shadow: 0 0 0 4px theme-color('partial', 400);
        }
    }

    &.status--queued {

        & > .indicator {
            background-color: theme-color('queued');
            box-shadow: 0 0 0 4px theme-color('queued', 100);
        }
    }

    &.status--empty {

        & > .indicator {
            background-color: $white;
            box-shadow: 0 0 0 4px theme-color('idle', 300);

            i {
                color: theme-color('idle', 'step', 200);
            }
        }
    }

    &.status--idle {

        & > .indicator {
            background-color: theme-color('idle', 500);
            box-shadow: 0 0 0 4px theme-color('idle', 300);
        }
    }

    &.status--error {

        & > .indicator {
            background-color: theme-color('failed');
            box-shadow: 0 0 0 4px theme-color('failed', 200);

            i {
                color: $white;
                opacity: .9;
            }
        }
    }

    &.status--loading,
    &.status--refreshing,
    &.status--running {

        & > .indicator {
            background-color: theme-color('idle', 300);
            box-shadow: 0 0 0 4px transparent;
        }
    }
}
