.test-result {

    .tabnav {
        background-color: $secondary;
        border-bottom-color: $primary-border;
        padding: 0 15px;
        margin-bottom: 0;
        min-height: 2px;

        .tabnav-tabs {

            .tabnav-tab {
                border-width: 3px 1px 1px;
                border-radius: 3px 3px 0 0;

                &.selected {
                    border-color: $orange $primary-border transparent;
                }
            }
        }
    }

    .test-result-general {
        user-select: text;
    }

    .test-result-breakdown {
        padding: 15px;
    }
}
