.test-result {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;

    .tabs {
        background-color: var(--secondary-background-color);
        border-bottom: 1px solid var(--primary-border-color);

        nav {
            padding: 0 var(--spacing-half);

            .tab {
                appearance: none;
                background: none;
                border: 0;
                box-shadow: none;
                padding: calc(var(--spacing) + -2px) var(--spacing);

                &:hover,
                &:focus,
                &:active {
                    outline: none;
                    text-decoration: none;
                }

                &.selected {
                    color: var(--link-color);
                }
            }
        }
    }

    .test-result-general {
        user-select: text;
    }

    .test-result-breakdown {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 15px;
        position: relative;

        // Avoid content inside results pane growing indefinitely,
        // especially when trace headers have very long filenames
        // which are set to not wrap.
        > div {
            position: absolute;
            width: calc(100% - 30px);
        }
    }
}
