.test-information {
    font-size: 1.1rem;

    .heading {
        font-weight: var(--font-weight-semibold);
        white-space: nowrap;
        width: 1%;
    }

    td:not(.heading) {
        user-select: text;
    }
}
