.titlebar {
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
}

.platform--darwin {

    .titlebar {
        height: var(--darwin-title-bar-height);
        background: var(--darwin-title-bar-color);
        border-bottom: 1px solid var(--darwin-title-bar-border-color);
    }
}
