.DS_Store
dist/*
build/*
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
src/main/lib/process/debug/*.json
src/lib/reporters/phpunit/bootstrap
support/icons
tests/coverage
tests/cypress/videos
tests/cypress/screenshots
yarn-error.log
