.DS_Store
dist/*
build/*
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
src/main/lib/process/debug/*.json
src/lib/reporters/phpunit/bootstrap
support/icons/512x512.png
support/icons/gem.svg
tests/coverage
yarn-error.log
