@import 'functions';
@import 'variables';
@import 'bootstrap';
@import 'animations';
@import 'blocks/buttons';
@import 'blocks/filename';
@import 'blocks/framework';
@import 'blocks/group';
@import 'blocks/input';
@import 'blocks/main';
@import 'blocks/repository';
@import 'blocks/results';
@import 'blocks/spinner';
@import 'blocks/suite';
@import 'blocks/test';

html,
body {
    font-size: 12px;
    background-color: $secondary;
}

.passed {
    color: theme-color('success');
}

.failed,
.error {
    color: theme-color('danger');
}

.incomplete,
.partial {
    color: theme-color('warning');
}
