// ========================================================================
// Colors
// ========================================================================

//
//
// -------- Grays --------
$gray-000: #f7f7f7 !default;
$gray-100: #f0f0f0 !default;
$gray-200: #ececec !default;
$gray-300: #e3e3e3 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

// -------- Blue --------
$blue-000: #f1f8ff !default;
$blue-100: #dfefff !default;
$blue-200: #bbdaff !default;
$blue-300: #79b8ff !default;
$blue-400: #2188ff !default;
$blue-500: #0366d6 !default;
$blue-600: #005cc5 !default;
$blue-700: #044289 !default;
$blue-800: #032f62 !default;
$blue-900: #05264c !default;

// -------- Yellow --------
$yellow-000: #fffdef !default;
$yellow-100: #fdf7ce !default;
$yellow-200: #fff29c !default;
$yellow-300: #ffea7f !default;
$yellow-400: #ffdf5d !default;
$yellow-500: #ffd33d !default;
$yellow-600: #f9c513 !default;
$yellow-700: #dbab09 !default;
$yellow-800: #b08800 !default;
$yellow-900: #735c0f !default;

// -------- Red --------
$red-000: #ffeef0 !default;
$red-100: #ffdce0 !default;
$red-200: #fdaeb7 !default;
$red-300: #f97583 !default;
$red-400: #f8575f !default;
$red-500: #f7434c !default;
$red-600: #f6212b !default;
$red-700: #e40a15 !default;
$red-800: #c20912 !default;
$red-900: #a4070f !default;

// -------- Fades --------
$white: #fff !default;
