// ========================================================================
// Colors
// ========================================================================

//
//
// -------- Grays --------
$gray-000:        #fafbfc !default;
$gray-100:        #f8f9fa !default;
$gray-200:        #e9ecef !default;
$gray-300:        #dee2e6 !default;
$gray-400:        #ced4da !default;
$gray-500:        #adb5bd !default;
$gray-600:        #6c757d !default;
$gray-700:        #495057 !default;
$gray-800:        #343a40 !default;
$gray-900:        #212529 !default;

// -------- Blue --------
$blue-000:        #f1f8ff !default;
$blue-100:        #dbedff !default;
$blue-200:        #c8e1ff !default;
$blue-300:        #79b8ff !default;
$blue-400:        #2188ff !default;
$blue-500:        #0366d6 !default;
$blue-600:        #005cc5 !default;
$blue-700:        #044289 !default;
$blue-800:        #032f62 !default;
$blue-900:        #05264c !default;

// -------- Green --------
$green-000:       #f0fff4 !default;
$green-100:       #c5f0dc !default;
$green-200:       #b1ebd0 !default;
$green-300:       #80deb3 !default;
$green-400:       #58d39b !default;
$green-500:       #31b87a !default;
$green-600:       #2aa06a !default;
$green-700:       #1f784f !default;
$green-800:       #17573a !default;
$green-900:       #12432c !default;

// -------- Yellow --------
$yellow-000:      #fffdef !default;
$yellow-100:      #fffbdd !default;
$yellow-200:      #fff5b1 !default;
$yellow-300:      #ffea7f !default;
$yellow-400:      #ffdf5d !default;
$yellow-500:      #ffd33d !default;
$yellow-600:      #f9c513 !default;
$yellow-700:      #dbab09 !default;
$yellow-800:      #b08800 !default;
$yellow-900:      #735c0f !default;

// -------- Orange --------
$orange-000:      #fff8f2 !default;
$orange-100:      #ffebda !default;
$orange-200:      #ffd1ac !default;
$orange-300:      #ffab70 !default;
$orange-400:      #fb8532 !default;
$orange-500:      #f66a0a !default;
$orange-600:      #e36209 !default;
$orange-700:      #d15704 !default;
$orange-800:      #c24e00 !default;
$orange-900:      #a04100 !default;

// -------- Red --------
$red-000:         #ffeef0 !default;
$red-100:         #ffdce0 !default;
$red-200:         #fdaeb7 !default;
$red-300:         #f97583 !default;
$red-400:         #f8575f !default;
$red-500:         #f7434c !default;
$red-600:         #f6212b !default;
$red-700:         #e40a15 !default;
$red-800:         #c20912 !default;
$red-900:         #a4070f !default;

// -------- Purple --------
$purple-000:      #f5f0ff !default;
$purple-100:      #e6dcfd !default;
$purple-200:      #d1bcf9 !default;
$purple-300:      #b392f0 !default;
$purple-400:      #8a63d2 !default;
$purple-500:      #6f42c1 !default;
$purple-600:      #5a32a3 !default;
$purple-700:      #4c2889 !default;
$purple-800:      #3a1d6e !default;
$purple-900:      #29134e !default;

// -------- Fades --------
// Black based on same hue as $gray-900
$black: #1b1f23 !default;
$white: #fff !default;

$black-fade-15:      rgba($black, 0.15) !default;
$black-fade-30:      rgba($black, 0.3) !default;
$black-fade-50:      rgba($black, 0.5) !default;
$black-fade-70:      rgba($black, 0.7) !default;
$black-fade-85:      rgba($black, 0.85) !default;

$white-fade-15:      rgba($white, 0.15) !default;
$white-fade-30:      rgba($white, 0.3) !default;
$white-fade-50:      rgba($white, 0.5) !default;
$white-fade-70:      rgba($white, 0.7) !default;
$white-fade-85:      rgba($white, 0.85) !default;

//
// Palette map
//
$palette: (
    "gray": (
        "000": $gray-000,
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900,
    ),
    "blue": (
        "000": $blue-000,
        "100": $blue-100,
        "200": $blue-200,
        "300": $blue-300,
        "400": $blue-400,
        "500": $blue-500,
        "600": $blue-600,
        "700": $blue-700,
        "800": $blue-800,
        "900": $blue-900,
    ),
    "green": (
        "000": $green-000,
        "100": $green-100,
        "200": $green-200,
        "300": $green-300,
        "400": $green-400,
        "500": $green-500,
        "600": $green-600,
        "700": $green-700,
        "800": $green-800,
        "900": $green-900,
    ),
    "yellow": (
        "000": $yellow-000,
        "100": $yellow-100,
        "200": $yellow-200,
        "300": $yellow-300,
        "400": $yellow-400,
        "500": $yellow-500,
        "600": $yellow-600,
        "700": $yellow-700,
        "800": $yellow-800,
        "900": $yellow-900,
    ),
    "orange": (
        "000": $orange-000,
        "100": $orange-100,
        "200": $orange-200,
        "300": $orange-300,
        "400": $orange-400,
        "500": $orange-500,
        "600": $orange-600,
        "700": $orange-700,
        "800": $orange-800,
        "900": $orange-900,
    ),
    "red": (
        "000": $red-000,
        "100": $red-100,
        "200": $red-200,
        "300": $red-300,
        "400": $red-400,
        "500": $red-500,
        "600": $red-600,
        "700": $red-700,
        "800": $red-800,
        "900": $red-900,
    ),
    "purple": (
        "000": $purple-000,
        "100": $purple-100,
        "200": $purple-200,
        "300": $purple-300,
        "400": $purple-400,
        "500": $purple-500,
        "600": $purple-600,
        "700": $purple-700,
        "800": $purple-800,
        "900": $purple-900,
    ),
);

//
// Contextual
//

$primary: rgb(255, 255, 255) !default;
$primary-border: rgb(229, 233, 238) !default;

$secondary: $gray-100;
$secondary-text: rgb(108, 109, 111) !default;
$secondary-discreet-text: rgb(153, 153, 153) !default;

//
// Stateful
//

$status-colors: (
    "selected": (
        "color": "blue",
        "default": "400",
    ),
    "passed": (
        "color": "green",
        "default": "400",
    ),
    "incomplete": (
        "color": "yellow",
        "default": "500",
    ),
    "warning": (
        "color": "orange",
        "default": "500",
    ),
    "failed": (
        "color": "red",
        "default": "500",
    ),
    "idle": (
        "color": "gray",
        "default": "400",
    ),
    "partial": (
        "color": "yellow",
        "default": "700",
    ),
) !default;

// ========================================================================
// Animations
// ========================================================================

$transition-time: .15s;

// ========================================================================
// Lode-specific
// ========================================================================

$active-background: theme-color('selected', 200);
