html,
body {
    background-color: var(--secondary-background-color);
    font-family: var(--font-family-sans-serif);
    font-size: 12px;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    user-select: none;
    width: 100%;
}

// stylelint-disable-next-line selector-max-id
#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

a {
    color: var(--link-color);
}

* {
    cursor: default !important;
}
