html,
body {
    background-color: var(--secondary-background-color);
    font-size: 12px;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    user-select: none;
    width: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

a {
    color: var(--link-color);
}

* {
    cursor: default !important;
}
