html,
body {
    background-color: $secondary;
    font-size: 12px;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

a {
    color: var(--link-color);
}
