// ========================================================================
// Mixins
// ========================================================================

@mixin striped($status: 'partial') {
    background: repeating-linear-gradient(-55deg,
    theme-color($status),
    theme-color($status) 3px,
    theme-color($status, 'step', 100) 3px,
    theme-color($status, 'step', 100) 6px);
}

@mixin drop-shadow($opacity: .175) {
    box-shadow: 0 6px 12px rgba(0, 0, 0, $opacity);
}

@mixin no-shadow {
    background-clip: padding-box;
    box-shadow: none;
}

@mixin win32 {
    body.platform-win32 & {
        @content;
    }
}

@mixin win32-context {
    body.platform-win32 {
        @content;
    }
}

@mixin darwin {
    body.platform-darwin & {
        @content;
    }
}

@mixin darwin-context {
    body.platform-darwin {
        @content;
    }
}

@mixin linux {
    body.platform-linux & {
        @content;
    }
}

@mixin linux-context {
    body.platform-linux {
        @content;
    }
}

@mixin light {
    body.theme-light & {
        @content;
    }
}

@mixin light-context {
    body.theme-light {
        @content;
    }
}

@mixin dark {
    body.theme-dark & {
        @content;
    }
}

@mixin dark-context {
    body.theme-dark {
        @content;
    }
}
