h1,
h2,
h3,
h4,
h5,
h6 {
    &.text-muted {
        color: var(--color-gray-500);
        margin-bottom: var(--spacing-half);
        text-transform: uppercase;
    }
}

code {
    font-family: var(--font-family-monospace) !important;
}
