@use "sass:color";
@include color-variables(
    ("page-header-darker-bg": (
        light: var(--color-scale-gray-1),
        dark: var(--color-scale-gray-9)
    )
));

// Default
:root {
    // Colors
    --color-gray-000: #{$gray-000};
    --color-gray-100: #{$gray-100};
    --color-gray-200: #{$gray-200};
    --color-gray-300: #{$gray-300};
    --color-gray-400: #{$gray-400};
    --color-gray-500: #{$gray-500};
    --color-gray-600: #{$gray-600};
    --color-gray-700: #{$gray-700};
    --color-gray-800: #{$gray-800};
    --color-gray-900: #{$gray-900};

    // Contextual colors
    --primary-background-color: var(--color-canvas-default);
    --primary-border-color: var(--color-border-subtle);
    --secondary-background-color: var(--color-page-header-bg);
    --secondary-background-color-dark: var(--color-page-header-darker-bg);

    // Titlebar
    // Pixel unit is required in order for `calc` values to compute properly.
    // stylelint-disable-next-line length-zero-no-unit
    --titlebar-height: 0px;
    --titlebar-background-color: var(--color-canvas-default);

    // Panes
    --pane-gutter-width: 11px;
    --pane-border-color: var(--primary-border-color);

    // Sidebar
    --sidebar-color: #e9ecef;
    --sidebar-border-color: #{$gray-500};
    --sidebar-text-color: #{$gray-800};
    --sidebar-text-secondary-color: #{$gray-700};
    --sidebar-active-color: rgb(0 0 0 / 8%);

    // Typography
    --font-family-sans-serif:
        system-ui,
        "Apple Color Emoji",
        -apple-system,
        blinkmacsystemfont,
        "Segoe UI",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        arial,
        sans-serif;
    --font-family-monospace: "SFMono-Regular", "Fira Mono", consolas, "Liberation Mono", menlo, courier, monospace;
    --font-weight-bold: 800;
    --font-weight-semibold: 600;
    --font-weight-normal: 400;
    --font-weight-light: 300;
    --font-size: 12px;
    --font-size-sm: 11px;
    --font-size-md: 14px;
    --font-size-lg: 28px;
    --font-size-xl: 32px;
    --font-size-xxl: 42px;
    --font-size-xs: 9px;
    --link-color: var(--color-accent-fg);
    --text-color-secondary: #{$gray-600};
    --text-color-secondary-discreet: #{color.adjust($gray-600, $lightness: 15%)};

    // Spacing
    --spacing: 10px;
    --spacing-and-half: calc(var(--spacing) * 1.5);
    --spacing-double: calc(var(--spacing) * 2);
    --spacing-triple: calc(var(--spacing) * 3);
    --spacing-quad: calc(var(--spacing) * 4);
    --spacing-half: calc(var(--spacing) / 2);
    --spacing-third: calc(var(--spacing) / 3);

    // Status
    --status-block-width: 25px;
    --status-soft-border-width: 4px;

    // Focus
    --item-selected-background-color: #{theme-color("selected", 100)};
    --item-selected-active-background-color: #{theme-color("selected", 400)};
    --item-selected-active-text-color: #{$white};

    // Modals
    --modal-large: 840px;
    --modal-medium: 560px;
    --modal-small: 380px;

    // Frameworks, etc
    --repository-header-height: 43px;
    --repository-z-index: 10;
    --framework-z-index: 9;
}

// Overrides
@include light-context {
    --color-danger-fg: #f7434c !important;
}

@include dark-context {
    --color-fg-default: #d1d5da !important;
}

@include win32-context {
    --titlebar-height: 28px;
    --secondary-background-color: var(--color-canvas-default);
    --secondary-background-color-dark: #{color.adjust($white, $lightness: -5%)};

    &.titlebar-hidden {
        // stylelint-disable-next-line length-zero-no-unit
        --titlebar-height: 0px;
    }
}
