@use "sass:color";
@include color-variables(
    (
        "page-header-darker-bg": (
            light: var(--color-scale-gray-1),
            dark: var(--color-scale-gray-8),
        ),
        "sidebar-bg": (
            light: #e9ecef,
            dark: var(--color-canvas-default),
        ),
        "sidebar-border": (
            light: var(--color-scale-gray-3),
            dark: var(--color-border-default),
        ),
        "sidebar-fg": (
            light: var(--color-scale-gray-8),
            dark: var(--color-fg-default),
        ),
        "sidebar-fg-secondary": (
            light: var(--color-scale-gray-6),
            dark: var(--color-fg-muted),
        ),
        "sidebar-fg-active": (
            light: rgb(0 0 0 / 8%),
            dark: var(--color-scale-gray-7),
        ),
        "sidebar-accent": (
            light: var(--color-scale-blue-1),
            dark: var(--color-item-active-bg),
        ),
        "fg-subtler": (
            light: #939ba2,
            dark: #8c9399,
        ),
        "link": (
            light: var(--color-accent-fg),
            dark: var(--color-accent-fg),
        ),
        "btn-primary-shadow": (
            light: 0 0 0 2px rgba(33, 136, 255, .5),
            dark: 0 0 0 2px rgba(33, 136, 255, .5),
        ),
        "item-active-bg": (
            light: #2188ff,
            dark: #0366d6,
        ),
        "item-active-fg": (
            light: var(--color-scale-white),
            dark: var(--color-scale-white),
        ),
        // Selected
        "status-selected-down-3": (
            light: #dfefff,
            dark: #004da4,
        ),
        "status-selected-down-2": (
            light: #bbdaff,
            dark: #005cc5,
        ),
        "status-selected-down-1": (
            light: #79b8ff,
            dark: #0366d6,
        ),
        "status-selected": (
            light: #2188ff,
            dark: #2188ff,
        ),
        "status-selected-up-1": (
            light: #0366d6,
            dark: #79b8ff,
        ),
        "status-selected-up-2": (
            light: #005cc5,
            dark: #bbdaff,
        ),
        // Passed
        "status-passed-down-3": (
            light: #b1ebd0,
            dark: #2b5742,
        ),
        "status-passed-down-2": (
            light: #b1ebd0,
            dark: #40785d,
        ),
        "status-passed-down-1": (
            light: #80deb3,
            dark: #38936a,
        ),
        "status-passed": (
            light: #58d39b,
            dark: #3dab79,
        ),
        "status-passed-up-1": (
            light: #31b87a,
            dark: #31d78c,
        ),
        "status-passed-up-2": (
            light: #2aa06a,
            dark: #22e48d,
        ),
        "status-passed-border": (
            light: color.adjust(#58d39b, $lightness: -10%),
            dark: #4fbb8a,
        ),
        "status-passed-halo": (
            light: rgba($color: #d5f3e5, $alpha: 75%),
            dark: rgb(80 80 80 / 75%),
        ),
        // Incomplete
        "status-incomplete-down-3": (
            light: #fff29c,
            dark: #756529,
        ),
        "status-incomplete-down-2": (
            light: #ffea7f,
            dark: #8d772b,
        ),
        "status-incomplete-down-1": (
            light: #ffdf5d,
            dark: #cfa725,
        ),
        "status-incomplete": (
            light: #ffd33d,
            dark: #e3b727,
        ),
        "status-incomplete-up-1": (
            light: #f9c513,
            dark: #f9c513,
        ),
        "status-incomplete-up-2": (
            light: #dbab09,
            dark: #dbab09,
        ),
        "status-incomplete-up-3": (
            light: #b08800,
            dark: #b08800,
        ),
        "status-incomplete-up-4": (
            light: #735c0f,
            dark: #735c0f,
        ),
        "status-incomplete-border": (
            light: color.adjust(#ffd33d, $lightness: -14%),
            dark: color.adjust(#e3b727, $lightness: 14%),
        ),
        "status-incomplete-halo": (
            light: rgba($color: #fdf7ce, $alpha: 75%),
            dark: rgb(80 80 80 / 75%),
        ),
        // Warning
        "status-warning-down-3": (
            light: #ffc89c,
            dark: #ffc89c,
        ),
        "status-warning-down-2": (
            light: #ffab70,
            dark: #ffab70,
        ),
        "status-warning-down-1": (
            light: #fb8532,
            dark: #fb8532,
        ),
        "status-warning": (
            light: #f66a0a,
            dark: #f66a0a,
        ),
        "status-warning-up-1": (
            light: #e36209,
            dark: #e36209,
        ),
        "status-warning-up-2": (
            light: #d15704,
            dark: #d15704,
        ),
        "status-warning-border": (
            light: color.adjust(#f66a0a, $lightness: -5%),
            dark: color.adjust(#f66a0a, $lightness: -5%),
        ),
        "status-warning-halo": (
            light: rgba($color: #ffebda, $alpha: 75%),
            dark: rgb(80 80 80 / 75%),
        ),
        // Failed
        "status-failed-down-3": (
            light: #fdaeb7,
            dark: #934851,
        ),
        "status-failed-down-2": (
            light: #f97583,
            dark: #f97583,
        ),
        "status-failed-down-1": (
            light: #f8575f,
            dark: #f8575f,
        ),
        "status-failed": (
            light: #f7434c,
            dark: #ca484e,
        ),
        "status-failed-up-1": (
            light: #f6212b,
            dark: #f6212b,
        ),
        "status-failed-up-2": (
            light: #e40a15,
            dark: #e40a15,
        ),
        "status-failed-border": (
            light: color.adjust(#f7434c, $lightness: -15%),
            dark: #e2656b,
        ),
        "status-failed-halo": (
            light: rgba($color: #ffdce0, $alpha: 75%),
            dark: rgb(80 80 80 / 75%),
        ),
        // Idle
        "status-idle-down-2": (
            light: #ececec,
            dark: #383c42,
        ),
        "status-idle-down-1": (
            light: #e3e3e3,
            dark: #474c53,
        ),
        "status-idle": (
            light: #ced4da,
            dark: #474c53,
        ),
        "status-idle-up-1": (
            light: #adb5bd,
            dark: #545a63,
        ),
        "status-idle-up-2": (
            light: #6c757d,
            dark: #737b87,
        ),
        "status-idle-up-3": (
            light: #495057,
            dark: #8993a2,
        ),
        "status-idle-border": (
            light: color.adjust(#ced4da, $lightness: -3%),
            dark: #5f6367,
        ),
        "status-idle-halo": (
            light: rgba($color: #ececec, $alpha: 75%),
            dark: rgb(80 80 80 / 75%),
        ),
        // Queued
        "status-queued-down-1": (
            light: #dfefff,
            dark: #4c6f93,
        ),
        "status-queued": (
            light: #bbdaff,
            dark: #78a6db,
        ),
        "status-queued-up-1": (
            light: #79b8ff,
            dark: #79b8ff,
        ),
        "status-queued-up-2": (
            light: #2188ff,
            dark: #a8ccf5,
        ),
        "status-queued-up-3": (
            light: #0366d6,
            dark: #c2ddfb,
        ),
        "status-queued-border": (
            light: color.adjust(#bbdaff, $lightness: -3%),
            dark: #7eb8ff,
        ),
        "status-queued-halo": (
            light: rgba($color: #f0f0f0, $alpha: 75%),
            dark: rgb(80 80 80 / 75%),
        ),
        // Partial
        "status-partial-down-3": (
            light: #ffdf5d,
            dark: #756529,
        ),
        "status-partial-down-2": (
            light: #ffd33d,
            dark: #ffd33d,
        ),
        "status-partial-down-1": (
            light: #f9c513,
            dark: #f9c513,
        ),
        "status-partial": (
            light: #dbab09,
            dark: #dbab09,
        ),
        "status-partial-up-1": (
            light: #b08800,
            dark: #b08800,
        ),
        "status-partial-border": (
            light: color.adjust(#dbab09, $lightness: -10%),
            dark: color.adjust(#dbab09, $lightness: -10%),
        ),
        "status-partial-halo": (
            light: rgba($color: #fff29c, $alpha: 75%),
            dark: rgb(80 80 80 / 75%),
        ),
        // Error
        "status-error-down-2": (
            light: #fdaeb7,
            dark: #fdaeb7,
        ),
        "status-error": (
            light: #f8575f,
            dark: #f8575f,
        ),
        "status-error-border": (
            light: color.adjust(#f7434c, $lightness: -10%),
            dark: color.adjust(#f7434c, $lightness: -10%),
        ),
        "status-spinner-border": (
            light: rgb(153 153 153 / 40%),
            dark: rgb(153 153 153 / 40%),
        ),
        "status-spinner-border-contrast": (
            light: rgb(100 100 100 / 90%),
            dark: rgb(195 195 195 / 90%),
        )
    )
);

// Default
:root {
    // Contextual colors
    --primary-background-color: var(--color-canvas-default);
    --primary-border-color: var(--color-border-subtle);
    --secondary-background-color: var(--color-page-header-bg);
    --secondary-background-color-dark: var(--color-page-header-darker-bg);

    // Titlebar
    // Pixel unit is required in order for `calc` values to compute properly.
    // stylelint-disable-next-line length-zero-no-unit
    --titlebar-height: 0px;
    --titlebar-background-color: var(--color-canvas-default);

    // Panes
    --pane-gutter-width: 11px;
    --pane-border-color: var(--primary-border-color);

    // Typography
    --font-family-sans-serif:
        system-ui,
        "Apple Color Emoji",
        -apple-system,
        blinkmacsystemfont,
        "Segoe UI",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        arial,
        sans-serif;
    --font-family-monospace: "SFMono-Regular", "Fira Mono", consolas, "Liberation Mono", menlo, courier, monospace;
    --font-weight-bold: 800;
    --font-weight-semibold: 600;
    --font-weight-normal: 400;
    --font-weight-light: 300;
    --font-size: 12px;
    --font-size-sm: 11px;
    --font-size-md: 14px;
    --font-size-lg: 28px;
    --font-size-xl: 32px;
    --font-size-xxl: 42px;
    --font-size-xs: 9px;

    // Spacing
    --spacing: 10px;
    --spacing-and-half: calc(var(--spacing) * 1.5);
    --spacing-double: calc(var(--spacing) * 2);
    --spacing-triple: calc(var(--spacing) * 3);
    --spacing-quad: calc(var(--spacing) * 4);
    --spacing-half: calc(var(--spacing) / 2);
    --spacing-third: calc(var(--spacing) / 3);

    // Status
    --status-block-width: 25px;
    --status-soft-border-width: 4px;

    // Modals
    --modal-large: 840px;
    --modal-medium: 560px;
    --modal-small: 380px;

    // Frameworks, etc
    --repository-header-height: 43px;
    --repository-z-index: 10;
    --framework-z-index: 9;
}

// Overrides
@include light-context {
    --color-danger-fg: #f7434c !important;
    --color-accent-muted: #dfefff !important;
}

@include dark-context {
    --color-fg-default: #d1d5da !important;
}

@include win32-context {
    --titlebar-height: 28px;

    &.titlebar-hidden {
        // stylelint-disable-next-line length-zero-no-unit
        --titlebar-height: 0px;
    }
}
