pre {
    padding: 0;

    .hljs {
        background-color: var(--primary-background-color) !important;
        border-radius: 3px;
        display: block;
        overflow-x: auto;
        padding: .5em;
        padding: 0 !important;

        .has-lines {
            tbody {
                tr {
                    .line-number,
                    .blob {
                        border-radius: 0;
                        padding-left: var(--spacing);
                    }

                    .line-number {
                        border-right: 1px solid;
                        border-right-color: var(--color-border-muted);
                        color: var(--color-fg-subtle);
                        padding-right: var(--spacing);
                        text-align: right;
                        user-select: none;
                        vertical-align: top;
                        white-space: nowrap;
                        width: 1%;
                    }

                    &.highlight {
                        background-color: var(--color-accent-subtle);

                        .line-number {
                            border-right-color: var(--color-accent-fg);
                            color: var(--color-fg-muted);
                        }
                    }

                    .blob {
                        min-width: 100%;
                    }
                }

                :first-child {
                    .line-number,
                    .blob {
                        padding-top: var(--spacing);
                    }
                }

                :last-child {
                    .line-number,
                    .blob {
                        padding-bottom: var(--spacing);
                    }
                }
            }
        }

        .hljs-comment,
        .hljs-quote {
            font-style: italic;
        }

        .hljs-emphasis {
            font-style: italic;
        }

        .hljs-strong {
            font-weight: bold;
        }

        .hljs-link {
            text-decoration: underline;
        }
    }
}
